.two_articles_grid {
    .mag_basic_article {
        figure {
            margin-bottom: 20px;
        }

        .category_caption {
            margin-bottom: 4px;
        }
    }
}

@media screen and (min-width: $min-xs) {
    .two_articles_grid {
        .mag_basic_article {
            display: block;
            margin-bottom: 58px;
            figure {
                width: 100%;
                margin-bottom: 28px;
            }

            .post__content {
                width: 100%;
                display: block !important;
                padding-top: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }

            .post__title {
                margin-bottom: 38px;
            }
        }
    }
}

@media screen and (min-width: $min-x) {
    .two_articles_grid {
        display: flex;
        flex-wrap: wrap;
        .mag_basic_article {
            width: 50%;
            // margin-bottom: 58px;
            figure {
                margin-bottom: 24px;
            }

            .post__title {
                margin-bottom: 36px;
            }

            .category_caption {
                margin-bottom: 3px;
            }

            .post__content {
                padding-bottom: 25px;
            }
        }
    }
}

@media screen and (min-width: $min-n) {
    .two_articles_grid {
        .mag_basic_article {
            margin-bottom: 68px;
        }
    }
}

@media screen and (min-width: $min-xl) {
    .two_articles_grid {
        .mag_basic_article {
            margin-bottom: 100px;
            figure {
                margin-bottom: 35px;
            }

            .post__title {
                margin-bottom: 54px;
            }

            .category_caption {
                margin-bottom: 7px;
            }

            .post__content {
                padding-bottom: 30px;
            }
        }
    }
}
