/* -------------------------------------------------------------------------------------------------
    GLOBAL ELEMENT: FOOTER
---------------------------------------------------------------------------------------------------- */

.global_footer {
  position: relative;
  background-color: $black;
  z-index: 1;

  @media screen and (max-width: $max-xs) {
    padding-bottom: 130px;
  }

  .wrapper {
    padding: 40px $mobile_gutter 0;
  }
  &__col {
    margin-top: 17px;
    padding-bottom: 17px;
    position: relative;
    &_section {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h3 {
      font-size: em(15);
      line-height: em(17, 15);
      font-weight: $bold;
      color: $white;
      font-family: $asty_bold;
      margin: unset;
    }
    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      border-bottom: 1px solid rgba(221, 221, 221, 0.2);
    }
    &:first-child {
      margin-top: unset;
    }
    &:nth-child(4) {
      padding: unset;
      margin-bottom: $gutter;
      .footer_nav {
        padding-bottom: unset;
      }
    }
    &:last-child {
      padding: unset;
      margin: 0 0 80px;
    }
    .menu-item__toggle-children {
      transform: rotate(90deg);
      display: inline-flex;
      svg {
        width: 12px;
        height: 12px;
        fill: $grey;
      }
    }
    &.open-sub-menu {
      .menu-item__toggle-children {
        transform: rotate(270deg);
      }
      .footer_nav {
        display: block;
      }
    }
  }
  .footer_nav_container {
    display: flex;
    .footer_nav {
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        width: 80%;
      }
    }
  }
  .footer_nav {
    padding-bottom: 14px;
    display: none;
    .menu {
      margin: unset;
      padding: unset;
      &-item {
        display: block;
        margin-top: $mobile_gutter;
        a {
          font-size: em(13);
          line-height: em(15, 13);
          font-family: $asty_book;
          color: $white;
        }
      }
    }
    &.follow_us {
      .follow_us__link {
        a {
          display: flex;
          align-items: center;
          svg {
            width: 18px;
            height: 18px;
            fill: $white;
            margin-right: 12px;
          }
          span {
            font: unset;
          }
        }
      }
    }
  }
  // #mc_embed_signup {
  //   margin-top: 23px;
  //   #mce-EMAIL,
  //   #mc-embedded-subscribe {
  //     width: 100%;
  //     height: $gutter;
  //     padding: 0;
  //     border: 0;
  //   }
  //   #mce-EMAIL {
  //     font-size: em(15);
  //     font-family: $asty_book;
  //     line-height: em(17, 15);
  //     margin-bottom: 10px;
  //     color: $grey;
  //     text-indent: 20px;
  //     &:focus-visible {
  //       outline: none;
  //     }
  //     &::placeholder {
  //       color: $grey;
  //     }
  //   }
  //   #mc-embedded-subscribe {
  //     font-size: em(14);
  //     font-family: $asty_bold;
  //     line-height: em(18, 14);
  //     color: $white;
  //     border: 1px solid $white;
  //     margin-bottom: 30px;
  //   }
  //   .content__gdpr {
  //     .mc_fieldset {
  //       border: 0;
  //       padding: 0;
  //       .checkbox.subfield {
  //         display: flex;
  //         align-items: center;
  //         input {
  //           position: absolute;
  //           opacity: 0;
  //           width: 20px;
  //           height: 20px;
  //           &:checked {
  //             + label {
  //               svg {
  //                 display: block;
  //               }
  //             }
  //           }
  //         }
  //         label {
  //           display: flex;
  //           align-items: center;
  //           justify-content: center;
  //           background-color: $white;
  //           width: 20px;
  //           height: 20px;
  //           margin-right: 10px;
  //           svg {
  //             display: none;
  //             fill: $red;
  //             width: 14px;
  //             height: 14px;
  //           }
  //         }
  //         span {
  //           font-size: em(10);
  //           font-family: $asty_book;
  //           font-weight: $regular;
  //           line-height: em(13, 10);
  //           width: 200px;
  //           color: $white;
  //         }
  //       }
  //       .mce_inline_error {
  //         margin-top: 4px !important;
  //       }
  //     }
  //   }
  // }

  .newsletter_subscribe_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $gutter;
    font-size: em(14);
    font-family: $asty_bold;
    line-height: em(18, 14);
    color: $white;
    border: 1px solid $white;
    margin-top: 23px;
  }
  .owner {
    display: flex;
    justify-content: space-between;
    margin: 0 $mobile_gutter;
    position: relative;
    &-info {
      display: flex;
      flex-direction: column;
      margin-bottom: 18px;
      .copyrights {
        margin-top: 15px;
        p {
          font-size: em(10);
          line-height: em(14, 10);
          font-family: $asty_book;
          color: $white;
          margin: unset;
        }
        .ened_logo {
          width: 59px;
          height: 14px;
        }
      }
    }
    .scroll-to-top-container {
      display: flex;
      align-items: center;
      align-self: flex-end;
      span {
        font-size: em(13);
        line-height: em(15, 13);
        font-family: $asty_book;
        color: $white;
        margin-right: 10px;
      }
      .scroll-to-top--btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: $white;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  @media screen and (min-width: $min-xs) {
    .wrapper {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      padding: $gutter 62px 0 64px;
    }
    &__col {
      margin: 0 $mobile_gutter 0 0;
      padding-bottom: 0;
      width: 100%;
      flex: 1 1 20%;
      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        border-bottom: 0;
        border-right: 1px solid rgba(221, 221, 221, 0.2);
      }
      &:nth-child(4) {
        margin: 0;
      }
      &:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: unset;
        margin: 100px 0 80px;
        padding: 0 68px 0 70px;
        > h3 {
          display: block;
          text-align: center;
        }
      }
      h3 {
        font-size: em(14);
        line-height: em(16, 14);
      }
      .menu-item__toggle-children {
        display: none;
      }
    }
    .footer_nav_container {
      flex-direction: column;
      .footer_nav:first-child {
        margin-right: 0;
      }
    }
    .footer_nav {
      display: block;
      padding: 0;
      .menu {
        &-item {
          margin-top: 14px;
          a {
            font-size: em(12);
            line-height: em(14, 12);
          }
        }
      }
    }
    // #mc_embed_signup {
    //   margin-top: 17px;
    //   &_scroll {
    //     display: flex;
    //     flex-direction: column;
    //     flex-wrap: wrap;
    //     align-content: center;
    //   }
    //   .mc-field-group:not(.mc_fieldset) {
    //     display: flex;
    //     flex-wrap: wrap;
    //   }
    //   #mce-EMAIL,
    //   #mc-embedded-subscribe {
    //     height: 50px;
    //   }
    //   #mce-EMAIL {
    //     width: 300px;
    //     font-size: em(14);
    //     line-height: em(16, 14);
    //     text-indent: $mobile_gutter;
    //   }
    //   #mc-embedded-subscribe {
    //     width: 200px;
    //   }
    //   .content__gdpr .mc_fieldset .checkbox.subfield {
    //     span {
    //       width: 100%;
    //       line-height: em(13, 10);
    //     }
    //   }
    // }

    .newsletter_subscribe_footer {
      height: 50px;
      margin-top: 17px;
    }

    .owner {
      margin: 0 64px;
      .scroll-to-top-container {
        span {
          font-size: em(14);
          line-height: em(16, 14);
          margin-right: 15px;
        }
      }
    }
    &.magazine_footer {
      .wrapper {
        padding-left: 30px;
        padding-right: 30px;
        .global_footer__col:last-child {
          padding-left: 104px;
          padding-right: 104px;
        }
      }
      .owner {
        margin: 0 30px;
      }
    }
  }

  @media screen and (max-width: $max-x) {
    .owner-info .copyrights p {
      span {
        &:first-of-type {
          display: block;
        }
      }
    }
  }
  @media screen and (min-width: $min-x) {
    .wrapper {
      padding: $gutter 22px 80px;
      flex-wrap: nowrap;
    }
    &__col {
      &:nth-child(4) {
        margin-right: $gutter;
      }
      &:last-child {
        display: block;
        margin: 0;
        padding: 0;
        min-width: 278px;
        > h3 {
          text-align: left;
        }
      }
    }
    // #mc_embed_signup {
    //   .mc-field-group:not(.mc_fieldset) {
    //     flex-direction: column;
    //   }
    //   #mce-EMAIL,
    //   #mc-embedded-subscribe {
    //     width: 100%;
    //   }
    //   .content__gdpr .mc_fieldset .checkbox.subfield {
    //     span {
    //       width: 80%;
    //     }
    //   }
    // }

    .owner {
      margin: 0 22px;
      .copyrights {
        display: flex;
        p {
          margin-right: 9px;
          span {
            &:last-of-type {
              &:before {
                content: "\00a0\00a0\00a0\00a0\00a0\00a0";
              }
            }
          }
          br {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (min-width: $min-x) {
    .wrapper {
      padding-left: 0;
      padding-right: 0;
      width: 980px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .owner {
      width: 980px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    &.magazine_footer {
      .wrapper {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        .global_footer__col:last-child {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .owner {
        margin: 0 20px;
        width: unset;
      }
    }
  }
  @media screen and (min-width: $min-n) {
    &.magazine_footer {
      .wrapper {
        padding-left: 30px;
        padding-right: 30px;
      }
      .owner {
        margin: 0 30px;
      }
    }
  }
  @media screen and (min-width: $min-m) {
    .wrapper {
      width: 1320px;
    }
    &__col {
      &:first-child {
        min-width: 320px;
        max-width: 320px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        max-width: 150px;
      }
      &:last-child {
        min-width: 300px;
      }
    }
    .footer_nav_container {
      flex-direction: row;
      .footer_nav {
        &:nth-child(2) {
          width: 90%;
        }
      }
    }
    // #mc_embed_signup {
    //   &_scroll {
    //     align-content: unset;
    //   }
    //   .content__gdpr .mc_fieldset .checkbox.subfield {
    //     span {
    //       width: 100%;
    //     }
    //   }
    // }
    .owner {
      width: 1320px;
    }
  }
  @media screen and (min-width: $min-xl) {
    &.magazine_footer {
      .wrapper {
        padding-left: 40px;
        padding-right: 40px;
        .global_footer__col {
          max-width: unset;
          width: 10.32%;
          flex: unset;
          &:first-child {
            min-width: unset;
            max-width: unset;
            width: 19.56%;
          }
          &:nth-child(4) {
            width: 7.06%;
            max-width: unset;
            margin-right: 0;
          }
          &:last-child {
            margin-left: auto;
            max-width: unset;
            min-width: unset;
            width: unset;
            // #mc_embed_signup {
            //   .mc-field-group:not(.mc_fieldset) {
            //     flex-direction: row;
            //     width: 560px;
            //   }
            //   #mce-EMAIL {
            //     width: 300px;
            //   }
            //   #mc-embedded-subscribe {
            //     width: 260px;
            //   }
            // }

            .newsletter_subscribe_footer {
              width: 560px;
            }
          }
        }
      }
      .owner {
        margin: 0 40px;
      }
    }
  }
  @media screen and (min-width: $min-xxl) {
    &.magazine_footer {
      .wrapper {
        width: 1920px;
      }
      .owner {
        margin: 0 auto;
        width: 1920px;
        padding: 0 40px;
      }
    }
  }
}

.footer_nav {
  a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-thickness: 1px;
    -webkit-text-decoration-color: transparent;
    -webkit-text-underline-offset: 2px;

    &:hover {
      text-decoration-color: $white;
    }
  }
}

// #mc_embed_signup {
//   div.mce_inline_error {
//     background-color: transparent !important;
//     color: $red !important;
//     padding: 0 !important;
//     font-family: $asty_book !important;
//     font-size: 12px !important;
//     margin-top: -18px !important;
//   }

//   input.mce_inline_error {
//     border: 1px solid $red !important;
//     color: $red !important;
//   }

//   input:-webkit-autofill,
//   input:-webkit-autofill:hover,
//   input:-webkit-autofill:focus {
//     // -webkit-background-clip: text;
//     background-color: $white !important;
//     -webkit-text-fill-color: $black !important;
//     border: 1px solid $white !important;
//   }

//   #mce-responses {
//     .response {
//       color: $red !important;
//       padding: 20px 0 0 !important;
//       font-family: $asty_book !important;
//       font-size: 12px !important;
//     }
//   }
// }

// #mc-embedded-subscribe {
//   &:hover {
//     background-color: $red;
//     border-color: $red !important;
//   }
// }

.newsletter_subscribe_footer {
  &:hover {
    background-color: $red;
    border-color: $red !important;
  }
}
