/* -------------------------------------------------------------------------------------------------
    GLOBAL ELEMENT: HEADER
---------------------------------------------------------------------------------------------------- */

.global_header.global_header_hp {
  .wrapper {
    display: block;
    .global_header__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: inherit;
      position: relative;
      .global_header__quick_links {
        &--item {
          span {
            display: none;
          }
        }
      }
    }
    .global_header__menu {
      display: none;
    }
  }
  @media screen and (min-width: $min-x) {
    position: relative;
    border: 0;
    .wrapper {
      height: unset;
      width: 980px;
      .global_header__top {
        padding: 42px 0 38px;
        border-bottom: 4px solid $black;
        justify-content: unset;
        .toggle_primary_menu {
          margin-right: auto;
        }
        &--logo {
          margin: 0 auto;
          img {
            width: 455px;
          }
        }
        .global_header__quick_links {
          margin-left: unset;
          &--item {
            margin-right: 10px;
            &:nth-child(3) {
              margin-right: $mobile_gutter;
            }
            &:last-child {
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }
    }
    &.fixed {
      position: fixed;
      border-bottom: 1px solid $black;
      @media screen and (max-width: em(1349)) {
        .wrapper {
          height: 50px;
        }
        .global_header__top {
          border: 0;
          padding: 0;
          .toggle_primary_menu {
            position: unset;
            margin-right: 12px;
          }
          &--logo {
            margin: 0;
            img {
              width: 120px;
            }
          }
          .global_header__quick_links {
            position: unset;
            margin-left: auto;
          }
        }
      }
    }
  }
  @media screen and (min-width: $min-m) {
    .wrapper {
      width: 1320px;
      .global_header__top {
        padding: 38px 0;
        .toggle_primary_menu {
          visibility: hidden;
        }
        .global_header__quick_links {
          align-self: flex-end;
          &--item {
            flex-direction: column;
            align-items: center;
            svg {
              width: 36px;
              height: 36px;
              margin-bottom: 6px;
            }
            span {
              display: block;
              font-family: $asty_medium;
              font-size: em(11);
              line-height: em(13, 11);
              color: $black;
            }
            &:first-child {
              margin-right: 18px;
            }
            &:nth-child(2) {
              margin-right: 29px;
            }
            &:nth-child(3) {
              margin-right: 0;
            }
            &:last-child {
              display: none;
            }
            &:hover {
              span {
                color: $grey;
              }
            }
          }
        }
      }
      .global_header__menu {
        display: flex;
        align-items: center;
        height: 50px;
        justify-content: space-between;
        border-bottom: 1px solid $black;
        .toggle_side_menu {
          margin: 0;
        }
        .global_header__logo {
          display: none;
          margin-left: 12px;
        }
        .primary_nav {
          margin: 0;
        }
        .global_header__quick_links {
          &--item {
            display: none;
            &:last-child {
              display: block;
              margin: 0;
            }
          }
        }
      }
    }
    &.fixed {
      position: fixed;
      top: -156px;
      .wrapper {
        max-width: 100%;
        .global_header__menu {
          justify-content: flex-start;
          border-bottom: 0;
          .global_header__logo {
            display: block;
          }
          .primary_nav {
            margin: 0 auto;
          }
          .global_header__quick_links {
            &--item {
              display: flex;
              &:last-child {
                margin: 0 0 0 18px;
              }
            }
          }
        }
      }
    }
  }
}
