// ------------------------------------------------------------------------------
// SECTION: VARIABLES
// -----------------------------------------------------------------------------*/

/* FONTS
---------------------------------------------------------------------------------------------------*/

$base-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
  Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;

$heading-pro-regular: "Heading-Pro-Regular", sans-serif;
$heading-pro-bold: "Heading-Pro-Bold", sans-serif;
$heading-pro-heavy: "Heading-Pro-Heavy", sans-serif;
$roboto-regular: "Roboto-Regular", sans-serif;
$roboto-light: "Roboto-Light", sans-serif;
$roboto-condensed-regular: "Roboto-Condensed-Regular", sans-serif;
$roboto-condensed-bold: "Roboto-Condensed-Bold", sans-serif;

/* MEDIA
---------------------------------------------------------------------------------------------------*/

$min-xxl: em(1921);
$min-xl: em(1701);
$min-l: em(1401);
$min-m: em(1350);
$min-n: em(1101);
$min-x: em(1024);
$min-xs: em(768);

$max-xxl: em(1920);
$max-xl: em(1700);
$max-l: em(1400);
$max-m: em(1349);
$max-n: em(1100);
$max-x: em(1023);
$max-xs: em(767);

/* GRID
---------------------------------------------------------------------------------------------------*/

/* GENERIC
---------------------------------------------------------------------------------------------------*/

/* COLORING
---------------------------------------------------------------------------------------------------*/

$color-black: #000000;
$color-white: #ffffff;
$color-dark-blue: #002040;
$color-blue: #003358;
$color-yellow: #ffd200;
$color-dark-grey: #6b6b6b;
$color-grey: #9c9c9c;
$color-light-grey: #f5f5f5;
