
/* MODULE - LIVEBLOG
----------------------------------------------------------------------*/
// $light: 300;
// $regular: 400;
// $bold: 700;

// $asty_book: "AstyCFStdBook", sans-serif;
// $asty_medium: "AstyCFStdMedium", sans-serif;
// $asty_bold: "AstyCFStdBold", sans-serif;
// $asty_black: "AstyCFStdBlack", sans-serif;
// $din_normal: "PFDINSerif-Reg", sans-serif;
// $din_black: "PFDINSerif-Black", sans-serif;
// $base_font: $asty_book;



// $mobile_paddings: 20px;
// $tablet_portrait_paddings: 65px;


// $mobile_paddings__negative: -20px;
// $tablet_portrait_paddings__negative: -65px;



.liveblog__outer_container {
	display: flex;
	flex-direction: column-reverse;
}

.single_article__main {
	#pinnedPost {
		border: 1px solid $red;
		border-top: 50px solid $red;
		position: relative;

		&:after {
			background: url(../img/icons/icon-pin.svg) no-repeat scroll center center transparent;
			background-size: auto 20px;
			content: "";
			width: 20px;
			height: 20px;
			right: 20px;
			top: -34px;
			// bottom: 0;
			// margin: auto;
			position: absolute;
		}

		&:before {
			content: "ΣΗΜΑΝΤΙΚΕΣ ΕΞΕΛΙΞΕΙΣ";
			left: 20px;
			top: -31px;
			// bottom: 0;
			// margin: auto;
			position: absolute;
			font-family: $asty_bold;
			font-size: 13px;
			color: $white;
		}

		figcaption {
			font-family: $base_font;
			
			&:before {
				display: none;
			}
		}
	}

	.paragraph, 
	.live_blog_code,
	#commentContainer {

		.comment {
			font-family: $base_font;
			font-weight: normal;
			display: block;
			padding: 20px 20px 15px;
			margin-bottom: 10px;
			position: relative;
			background-color: $white;
			border: none;

			> * {
				padding: 0;
			}


			&.goodNews {
				&:before {
					margin: -20px -20px 20px; 
				}
			}
		}

		.commentContent {
			font-family: $base_font !important;
			font-size: 16px;
			font-weight: normal;
			line-height: em(24,16);
			padding: 10px 0 0 !important;
			max-width: 100%;
			width: 100%;
			background-color: transparent !important;

			b, strong {
				font-family: $asty_bold;
			}

			a {
				color: inherit;
				text-decoration: underline;
				text-underline-offset: 4px;
				text-decoration-color: $red;

				&:hover {
					color: $red;
				}
			}

			h2 {
				font-family: $din_black !important;
				font-weight: normal !important;
				font-size: em(20,16);
				line-height: em(24,20);
				margin-bottom: 20px;
				letter-spacing: 0 !important;
			}

			h5 {
				font-family: $din_normal;
				font-style: italic;
				font-size: em(20,16);
				line-height: em(26,20);
				padding-bottom: 50px;

				&:before{
					height: 32px;
					bottom: 0;
					top: auto;
					left: 0;
					width: 50px;
					background-image: url(../img/icons/icon-quote.png);
					backhround-repeat: no-repeat;
				}
			}

			ul {
				list-style-type: disc;
				list-style-position: outside;
				
				li {
					text-indent: 0;
					list-style-type: disc;
				list-style-position: outside;

					&:before {
						display: none;
					}
				}
			}

			.nicEdit-related-article {
				font-family: $din_black;
				font-size: 16px;
				line-height: em(20,16);
				text-decoration: none !important;
				margin: 0 -20px 10px !important;
				width: calc(100% + 40px);
				display: block;
				position: relative;
				padding: 49px 40px 22px 20px;

				&:before {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					background-image: url(../img/icons/icon-slide-arrow-white.svg);
					background-repeat:  no-repeat;
					background-position:  center ;
					background-color: $red;
					width: 30px;
				}

				&:after {
					width: 100%;
					font-family: $asty_bold;
					font-size: 13px;
					line-height: em(16,13);
					padding: 0;
					position: absolute;
					top: 20px;
					color: $black;
				}

				> *, 
				h2 {
					font: inherit;
				}

				h2 {
					padding: 0;
				}

				&:hover {
					color: $black;

					h2 {
						text-decoration: underline;
						text-underline-offset: 4px;
						color: inherit;
					}

					&:before {
						background-color: $red;
					}
				}

				img {
					display: none;
				}
			}

			+ .commentPic {
				padding: 15px 0;
			}
		}

		.commentVideo {
			> iframe {
				width: 100% !important;
			}

			+ .social {
				margin-top: 15px;
			}
		}

		.commentTweet {
			margin: 0 auto;
			max-width: 100%;
			width: 100%;

			.twitter-tweet {
				margin-left: auto;
				margin-right: auto;
			}

			+ .social {
				margin-top: 15px;
			}

			.instagram-media {
				max-width: 100% !important;
				min-width: 200px !important;
			}
		}

		.commentTimestamp {
			font-family: $asty_book;
			font-weight: normal;
			font-size: 13px;
			line-height: em(18,13);
			color: $red;
			padding: 0;
			display: flex;
			flex-direction: row;
			position: relative;
			border: none;
			height: auto;
			background-color: transparent;
			z-index: 1;

			&:before {
				content:"";
				position: absolute;
				top: 3px;
				left:-20px;
				width: 10px;
				height: 10px;
				background-color: $red;
				z-index: 2;
			}

			small, 
			small.relativeTime {
				font: inherit;
				color: inherit;
				padding: 0;
				border: none;
				background-color: transparent;
				position: static;
			}

			small.relativeTime {
				width: auto;
				white-space: nowrap;
				padding-right: 10px;

				&:after {
					display: none;
				}
			}
		}

		.commentPic.wide, 
		.commentVideo,
		.commentPic {
			margin: 0 $mobile_paddings__negative;
			padding: 0;
		}

		.commentPic,
		.commentPic.wide {
			figcaption {
				font-size: 13px;
				line-height: em(18,13);
				background: transparent;
				color: #888888;
				padding: 18px 20px;

				&:before{
					display: none;
				}
			}
		}

		.social {
			padding: 6px 0 0;


				
			> * {
				background-image: url(../img/icons/icon-social-sprite.png);
				background-repeat: no-repeat;
			}
		}
	}
}

.key-events-widget__header {
	font-family: $asty_bold;
	font-size: 16px;
	line-height: em(24,40);
	letter-spacing: 0.32px;
	background-color: $red;
	color: $white;
	position: relative;
	padding: 13px 20px;
	margin: 0 0 10px;
	cursor: pointer;

	&:after {
		content:"";
		background: url(../img/icons/icon-slide-arrow-white.svg) no-repeat scroll center center transparent;
		background-size: auto 16px;
		width: 16px;
		height: 25px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 20px;
		margin: auto;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		transform: rotate(270deg);
	}

	&.inactive:after {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}


.key-events-widget__articles {
    position: relative;
    // padding-top: 18px;
    padding-top: 8px;
    padding-bottom: 25px;
    font-family: $asty_bold;
    font-size: 16px;
    line-height: em(20,16);

    &.inactive {
    	display: none;
    }
	
	&:before {
	    content: '';
	    display: block;
	    height: calc(100% - 50px - 2em);
	    border-left: 2px solid $red;
	    position: absolute;
	    left: 4px;
	    top: 18px;
	}

	h2  {
		font: inherit;
		margin:0;
	}
}

.key-events-widget__time {
	font-size: 13px;
	color: $liveblog-key-events_red;
	position: relative;
	top: -4px;
}

.key-events-widget__article {
    padding-left: 23px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    z-index: 0;
	
	&:last-child {
    	margin-bottom: 0;
    }

	&:hover * {
    	opacity: 0.6;
	}

	&:before {
	    content: '';
	    display: block;
	    width: 10px;
	    height: 10px;
	    background-color: $white;
	    border: 2px solid $red;
	    @include border-radius(100%);
	    position: absolute;
	    left: 0;
	    top: 0;
	}

	&:hover::before {
	    background-color: $red;
	}
}

.key-events-widget {
	article {
		&:last-of-type::after {
		    background: #ededed;
		    content: '';
		    display: block;
		    height: calc(100% - 7px);
		    width: 15px;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    z-index: -1;
		}
	}
}


.live_blog_code {
	#liveblogging-more-button {
		width: 270px;
		height: 50px;
		background-color: #ededed;
		border: 1px solid $black;
		color: $black;
		position: relative;
		letter-spacing: 0.05em;
		font-family: $asty_bold;
		font-size: 14px;
		line-height: 48px;
		padding: 0;

		&:after {
			position: absolute;
			right: 55px;
			top: 0;
			bottom: 0;
			margin: auto;
			content: "";
			background: url(../img/icons/icon-slide-arrow-black.svg) no-repeat scroll center center transparent;
			background-size: auto 16px;
			width: 20px;
			height: 16px;
			transform:rotate(90deg);
		}


		&:hover {
			color: $red;
			background-color: #ededed;

			&:after {
				background-image: url(../img/icons/icon-slide-arrow-red.svg);
			}
		}
	}

	#toolbar {
		display: none;
	}

	#introContainer {
		font-family: $asty_book;
		font-size: 14px;
		line-height: em(18,14);
		color: $black;
		margin: 20px auto;
	}
}

// .liveblog__outer_container {
// 	position: relative;
// 	display: flex;
// 	flex-wrap: nowrap;
// }


// .live_blog_code {
// 	flex: 1 0 100%;
// }

@media screen and (min-width: $min-xs) {
	.key-events-widget__header {
		padding: 20px 20px;
	}

	.key-events-widget__articles {
		font-size: 17px;
		line-height: em(19,17);
	}

	.key-events-widget__article {
		h2 {
			margin-top: -2px;
		}
	}

	.single_article__main {
		// #pinnedPost {
		// 	border: 1px solid $red;
		// }

		.paragraph, 
		.live_blog_code,
		#commentContainer {
			.comment {
				padding: 40px 40px 30px;
				margin-bottom: 20px;
			}

			.commentContent {
				font-size: 20px;
				line-height: em(30,20);
				padding-top: 15px !important;

				h2 {
					font-size: em(28,20);
					line-height: em(32,28);
				}

				.nicEdit-related-article {
				 	font-size: 20px;
				 	line-height: em(22,20);
				 	margin: 20px -40px 10px !important;
				 	padding: 0 40px 0 40px;
				 	width: calc(100% + 80px);
				 	display: flex;
				 	align-items: center;

				 	&:before {
				 		width: 40px;
				 	}

				 	&:after {
				 		left: 40px;
				 	}

				 	img {
				 		display: block;
				 		width: 150px;
				 		flex: 0 0 150px;
				 		height: 150px;
				 	}

				 	h2 {
				 		padding-right: 30px;
				 	}
				}



				h5 {
					font-size: em(28,20);
					line-height: em(36,28);
					padding-bottom: 60px;

					// &:before{
					// }
				}

			}

			.commentTimestamp {
				&:before {
					left: -40px;
					width: 20px;
				}
			}

			.social {
				padding-top: 15px;
			}

			.commentPic.wide, 
			.commentVideo,
			.commentPic {
				margin: 0 -40px;
			} 

			.commentTweet {
				&.wide  {
					margin-left: -40px;
					margin-right: -40px;
					width: calc(100% + 80px);
					max-width: calc(100% + 80px);
				}
			}
		}
	}
}


@media screen and (min-width: $min-x) {
	.key-events-widget__articles {
		font-size: 14px;
		// line-height: em(19,17);
	}
}

@media screen and (min-width: $min-n) {
	.liveblog__outer_container {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
	}

	.single_article__main {
		#live-blog-key-events-container {
			width: 300px;
			flex: 0 0 300px;
			order: 2;
			margin-right: 40px;

			#live-blog-key-events {
				position: sticky;
				top: 70px;
				border-bottom: 110px solid transparent;
			}
		}
	}

	.live_blog_code { 
		order: 3;
	}


	.single_article__main {
		.paragraph, 
		.live_blog_code,
		#commentContainer {

			.comment {
				padding: 40px 40px 30px;
			}

			.social {
				padding: 30px 0 0;
			}

			.commentTimestamp {

				&:before {
					left: -40px;
				}
			}
		}
	}
}


@media screen and (min-width: $min-m) {
	.key-events-widget__articles {
		font-size: 15px;
		// line-height: em(19,17);
	}
}


