
/* MODULE - READ ALSO
----------------------------------------------------------------------*/
.paragraph,
.single_article__main .paragraph {
	.read_also__container {
		padding-bottom: 22px;
	}
}

.read_also_item__thumbnail {
    .bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.read_also_item__content {
    a {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-color: transparent;
        text-underline-offset: 3px;
        -webkit-text-decoration: underline;
        -webkit-text-decoration-thickness: 1px;
        -webkit-text-decoration-color: transparent;
        -webkit-text-underline-offset: 3px;

        &:hover {
            text-decoration-color: $black;
            -webkit-text-decoration-color: $black;
            text-decoration-line: underline;
        }
    }
}

.single_darkmode {
    .read_also_item__content {
        a {
            &:hover {
               text-decoration-color: $white;
                -webkit-text-decoration-color: $white;
            }
        }
    }
}

@media screen and (min-width: $min-xs) {
    .paragraph,
    .single_article__main .paragraph {
        .read_also__container {
            padding-bottom: 20px;
            margin: 50px 0 46px;

            .read_also_item {
                display: flex;
                justify-content: space-between;
            }

            .read_also_item__thumbnail {
                width: 300px;
                margin-bottom: 0;
            }

            .read_also_item__content {
                width: 300px;
                padding-top: 15px;
            }
        }
    }    
}

@media screen and (min-width: $min-x) { 
}

@media screen and (min-width: $min-n) {
    .paragraph, 
    .single_article__main .paragraph {
        .read_also__container {
            .read_also_item__content {
                width: 260px;
            }
        }
    }
}

@media screen and (min-width: $min-l) {
    .paragraph,
    .single_article__main .paragraph {
        .read_also__container {
            .read_also_item__content {
                width: 300px;
            }
        }
    }
}




