/* MODULE - BLOCKQUOTE
----------------------------------------------------------------------*/
.paragraph {
	blockquote {
		margin-bottom: 0 !important;
	}

	.blockquote__container {
		margin-bottom: 45px;
	}
}

.paragraph .blockquote_content,
.blockquote_content {
	> p {
		margin: 0;
	}
}

.blockquote_citation {
	font-size: 14px;
	line-height: em(16,14);
	font-family: $asty_bold;
	font-style: normal;
	padding-top: 17px; 
}