.imageThumb {
    width: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.col {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.fadisabled {
    color: #CCC;
}

.customdropdownbutton {
    border-radius: 0;
    text-align: left;
    position: relative;
}

.custominput {
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.categorieslistpadding {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 40px;
}

ul.dropdown-menu {
    inset: 0 0 0 0;
    transform: translate3d(0px, 40px, 0px);
    border-radius: 0;
    border-color: black;
}

div.dropdown-menu {
    inset: 0 0 0 0;
    transform: translate3d(0px, 40px, 0px);
    border-radius: 0;
    border-color: black;
}


.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.pe-20 {
    padding-right: 20px;
}

.pe-xxl-20 {
    padding-right: 0;
}

.ps-xxl-20 {
    padding-left: 0;
}

.r40 {
    width: 40px;
    height: 40px;
}

.r65_40 {
    width: 65px;
    height: 40px;
}

.w40 {
    width: 40px;
}

.h40 {
    height: 40px;
}

.calendarcolumn {
    padding-right: 0;
}

.rightadvcolumnwithpadding {
    display: none;
}

.inneradvcolumnwithpadding {
    display: none;
}

.simplebutton {
    background: none;
    border: none;
}

.customdropdownbutton::after {
    display: none;
}

.centeredsemitransparentbutton {
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
    position: absolute;
    top: 40%;
}

.zoomarrowdisabled {
    color: rgba(255, 0, 0, 0.3) !important;
}

.simpleborderedbutton {
    background: none;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.inputicon {
    float: right;
    margin-right: 14px;
    margin-top: -25px;
    position: relative;
    z-index: 2;

}

.topzoomdate {
    display: inline;
}

.leftzoomdate {
    display: none;
}

.zoomnavright {
    display: inline;
}

.thumbcell {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 30px;
    border-bottom-width: 1px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
}

.divider {
    background-color: #dddddd;
    width: 1px;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.divider-left {
    left: 0px;
}

.divider-right {
    left: 340px;
}

.calendarsmalltext {
    display: none;
}

.calendarlist {
    position: absolute;
    background-color: white;
    top: 0px;
    list-style-type: none;
    padding-left: 15px;
}

.calendar>tbody>tr>td {
    text-align: center;
}

.calendar>tbody>tr>td>div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.calendarddbutton {
    padding-left: 15px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    padding-top: 5px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.calendaractive {
    cursor: pointer;
}


.calendardisabled {
    color: rgba(0, 0, 0, 0.25) !important;
}

.calendartoday {
    border-radius: 50%;
    border: 1px solid #000;
}


.calendarselected {
    color: white !important;
    background-color: red;
    border-radius: 50%;
}



@media (max-width:768px) {
    .divider {
        display: none;
    }
}

@media (max-width:576px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }



    .calendartext {
        display: none;
    }

    .calendarsmalltext {
        display: inline;
    }



    .zoomnavright {
        display: none;
    }

    .centeredsemitransparentbutton {
        display: inline;
    }

}



@media (min-width:768px) and (max-width:1400px) {
    .container {
        max-width: 640px;
    }

    .imageThumb {
        width: 300px;
    }



    .searchpadding {
        padding-left: 20px;
    }

    .thumbcell {
        width: 320px;
    }

    .thumbcell:nth-of-type(2n)>div>div {
        text-align: right;
    }

    .thumbcell:nth-of-type(2n-1)>div>div {
        text-align: left;
    }

    .thumbcell:nth-child(2n):nth-last-child(-n+1) {
        border-bottom-style: none;
    }

    .thumbcell:nth-child(2n-1):nth-last-child(-n+2) {
        border-bottom-style: none;
    }


    .thumbcell:nth-of-type(2n-1)>div>.divider-left {
        display: none;
    }


    .thumbcell:nth-of-type(2n)>div>.divider-right {
        display: none;
    }

    .thumbcell:nth-of-type(2n-1):nth-last-child(-n+1)>div>.divider-right {
        display: none;
    }

    .divider-right {
        left: 320px;
    }


}

@media (min-width:992px) {
    .container {
        max-width: 980px;
    }

}

@media (min-width:1200px) {
    .container {
        max-width: 980px;
    }



}


@media (min-width:1400px) {
    .container {
        max-width: 1320px;
    }

    .topzoomdate {
        display: none;
    }

    .leftzoomdate {
        display: inline;
        cursor: pointer;
    }

    .inneradvcolumnwithpadding {
        width: 340px;
        display: inline;
    }

    .pe-xxl-20 {
        padding-right: 20px;
    }

    .ps-xxl-20 {
        padding-left: 20px;
    }

    .categorieslistpadding {
        margin-top: 0px;
    }

    .searchpadding {
        padding-left: 30px;
        margin-top: 0px;
    }

    .imageThumb {
        width: 300px;
    }

    .thumbcell:nth-of-type(3n-1) {
        width: 340px;
    }

    .thumbcell:nth-of-type(3n) {
        padding-left: 20px;
        width: 320px;
    }

    .thumbcell:nth-of-type(3n-2) {
        padding-right: 20px;
        width: 320px;
    }



    .thumbcell:nth-child(3n):nth-last-child(-n+1) {
        border-bottom-style: none;
    }

    .thumbcell:nth-child(3n-1):nth-last-child(-n+2) {
        border-bottom-style: none;
    }

    .thumbcell:nth-child(3n-2):nth-last-child(-n+3) {
        border-bottom-style: none;
    }



    .thumbcell:nth-of-type(3n-2)>div>.divider {
        display: none;
    }


    .thumbcell:nth-of-type(3n)>div>.divider {
        display: none;
    }

    .thumbcell:nth-of-type(3n-1):nth-last-child(-n+1)>div>.divider-right {
        display: none;
    }




}


@media (min-width:992px) {
    .rightadvcolumnwithpadding {
        width: 340px;
        display: inline;
    }
}