.acf-field.custom_tablet_image_message > .acf-input::before{
    content: "Αυτό το πεδίο χρησιμοποιείται μόνο στα Αφιερωματικά Groups.";
    display: block;
    margin-bottom: 15px;
}

/* In Best of Network, hide Feeds for all roles except administrators */
body:not(.role-administrator) .acf-field-repeater.acf-field-64008b1fcc9d5{
    display: none;
}


.acf-field[data-name="btw__group_fields__hp__template__tribute_accordion__posts_selection"] [data-name="atf__is_overlay"]{
    display: none;
}

.wp-admin.taxonomy-category #acf-term-fields{
    display: none;
}
.wp-admin.taxonomy-post_tag #acf-term-fields{
    display: none;
}

/***** Επικαιρότητα - Πρώτο Θέμα Πάντα 2:1 *****/
#acf-group_63fde389ceee9 [data-name="btw__group_fields__hp__template__latest_stories__featured_post_selection"] .acf-field-true-false.acf-field-63f77af1a7da1{
    pointer-events: none;
}
#acf-group_63fde389ceee9 [data-name="btw__group_fields__hp__template__latest_stories__featured_post_selection"] .acf-field-true-false.acf-field-63f77af1a7da1 .acf-switch + span.message{
    display: none;
}
#acf-group_63fde389ceee9 [data-name="btw__group_fields__hp__template__latest_stories__featured_post_selection"] .acf-field-true-false.acf-field-63f77af1a7da1 .acf-switch {
    background: unset;
    border: none;
}
#acf-group_63fde389ceee9 [data-name="btw__group_fields__hp__template__latest_stories__featured_post_selection"] .acf-field-true-false.acf-field-63f77af1a7da1 .acf-switch > .acf-switch-on,
#acf-group_63fde389ceee9 [data-name="btw__group_fields__hp__template__latest_stories__featured_post_selection"] .acf-field-true-false.acf-field-63f77af1a7da1 .acf-switch > .acf-switch-slider {
    display: none;
}

.grey_wapper {
    background-color: #E7E1E2;
    padding: 20px;
}

.read_also_item__thumbnail a {
    position: relative;
}

.read_also_item__thumbnail .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
}

/*TODO btw_get_magazine_category_id if changed*/
.acf-field[data-name="btw__group_fields__magazine__template__articles_grid_two_cols__categories"] .acf-checkbox-list > li:not([data-id="9"]){
    display: none;
}

/*TODO btw_get_magazine_category_id if changed*/
.acf-field[data-name="btw__group_fields__magazine__template__articles_grid_three_cols__categories"] .acf-checkbox-list > li:not([data-id="9"]){
    display: none;
}

/*TODO btw_get_magazine_category_id if changed*/
.acf-field[data-name="btw__group_fields__magazine__template__tribute_basic__categories"] .acf-checkbox-list > li:not([data-id="9"]){
    display: none;
}

body.post-type-group:not(.role-administrator):not(.role-manager) .acf-postbox#acf-group_63f5d13d7dd09{
    display: none !important;
}

body:not(.role-administrator):not(.role-manager) .wpseo-metabox-content #collapsible-advanced-settings{
    display: none;
}

.related_post_content--wrapper .unescaped{
    display: none;
}

.acf-field[data-name="btw__global_fields__post_tag"] .acf-actions.-hover{
    margin-top: -30px;
    display: block !important;
}

#tagsdiv-post_tag{
    display: none;
}

.acf-field[data-name="btw__group_fields__hp__template__opinions_carousel_by_author__posts_selection"] .acf-field[data-name="atf__is_advertorial"] .acf-true-false *{
    display: none;
}

.acf-field[data-name="btw__group_fields__hp__template__opinions_carousel_by_author__posts_selection"] .acf-field[data-name="atf__is_advertorial"] .acf-true-false:before{
    content: "No";
}

.yoast-opengraph-image-notice #set-post-thumbnail>img{
    box-shadow: none;
}

#yst_opengraph_image_warning{
    display: none;
}