.error_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 90px);
    padding: 0 20px;
    justify-content: center;

    .error_title {
        font-family: $din_normal;
        font-size: em(76);
        line-height: em(78, 76);
        letter-spacing: -0.0076em;
        margin-bottom: 0;
    }

    .error_msg {
        font-family: $din_normal;
        font-size: em(24);
        line-height: em(45, 25);
        letter-spacing: -0.0024em;
        margin-bottom: 22px;
        margin-top: 0;
    }

    .error_img {
        width: 163px;
    }
}

@media screen and (min-width: $min-xs) {
    .error_page {
        height: calc(100vh - 125px);
        padding: 0;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        .error_title {
            font-size: em(92);
            line-height: em(94, 92);
            letter-spacing: -0.0092em;
            margin-bottom: 0;
        }

        .error_msg {
            font-size: em(38);
            line-height: em(45, 38);
            letter-spacing: -0.0038em;
            margin-bottom: 31px;
        }

        .error_img {
            width: 177px;
        }
    }
}
