/*--------------------------------------------------------------------------------------------------
  TEMPLATE: NEWSLETTER SUBSCRIPTIONS
----------------------------------------------------------------------------------------------------*/
.subscription_form__area {
    padding-top: 18px;

    #mc_embed_signup {
        div.mce_inline_error {
            background-color: transparent;
            color: $red;
            font-size: 11px!important;
            line-height: em(13, 11);
            font-family: $asty_book;
            font-weight: normal;
            text-align: left;
            padding: 4px 0 0;
            margin-top: 4px!important;
        }

        input.mce_inline_error {
            border-color: $red;
        }

        #mce-EMAIL {
            font-size: em(15);
            font-family: $asty_book;
            line-height: em(17, 15);

            color: $credits_grey;
            text-align: center;
            width: 100%;
            height: 50px;
            padding: 0;
            border: 1px solid $black;
            outline: none;

            &::placeholder {
                color: $grey;
            }
        }

        #mc-embedded-subscribe {
            font-size: em(15);
            font-family: $asty_bold;
            line-height: em(17, 15);
            letter-spacing: 0.07em;
            color: $white;
            background-color: $black;
            border: none;
            margin-top: 10px;
            margin-bottom: 26px;
            width: 100%;
            padding: 18px;
            height: 50px;
            display: block;

            &:hover {
                background-color: $red;
            }
        }
    }

    #mce-responses {
        .response {
            background-color: transparent;
            padding: 15px;
            font-size: em(14);
            font-family: $asty_book;
            line-height: em(16, 14);
        }
    }

    // .content__gdpr {
    //     > label {
    //         margin-bottom: 20px;
    //     }
    // }

    .mc-field-group {
        padding-bottom: 0;
    }

    .gdprRequired {
        border: none;
        padding: 0;
    }

    .checkbox.subfield {
        display: flex;
        align-items: center;
    }

    .content__gdpr .mc_fieldset .checkbox.subfield {
        input {
            position: absolute;
            opacity: 0;
            width: 20px;
            height: 20px;

            &:checked + label svg {
                display: block;
            }
        }

        span {
            width: 90%;
            font-family: $asty_book;
            font-size: em(12);
            line-height: em(14, 12);
        }

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border: 1px solid $black;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            svg {
                display: none;
                fill: #eb2036;
                width: 14px;
                height: 14px;
            }
        }
    }

    .form_paragraph {
        font-family: $asty_book;
        color: #888888;
        font-size: em(12);
        line-height: em(16, 12);
        padding-top: 45px;
        label {
            display: block;
            margin-bottom: 16px;
        }
        p {
            margin-top: 0;
            margin-bottom: 16px;
        }
    }
}

.page-template-newsletter .legal__wrapper {
    padding-bottom: 50px;
}

@media screen and (min-width: $min-xs) {
    .subscription_form__area {
        padding-top: 36px;

        #mc_embed_signup {
            position: relative;
            // div.mce_inline_error {
            //     background-color: transparent;
            //     color: $red;
            //     font-size: 11px;
            //     line-height: 1.2em;
            //     font-family: $asty_book;
            //     font-weight: normal;
            //     text-align: right;
            //     padding: 4px 0 0;
            //     text-transform: uppercase;
            //     letter-spacing: 0.25em;
            // }

            // input.mce_inline_error {
            //     border-color: $red;
            // }

            #mce-EMAIL {
                font-size: em(14);
                line-height: em(16, 14);
                text-indent: 20px;
                text-align: left;
                width: 400px;
                display: inline;
            }

            #mc-embedded-subscribe {
                font-size: em(14);
                line-height: em(16, 14);
                width: 240px;
                padding: 18px;
                height: 50px;
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        #mce-responses {
            .response {
                padding: 20px 0;
            }
        }

        .form_paragraph {
            padding-top: 48px;
        }

        .checkbox.subfield {
            margin-top: 30px;
        }
    }

    .page-template-newsletter .legal__wrapper {
        padding-bottom: 100px;
    }
}
