.most_popular_section {
    padding: 0 20px;
    height: 100%;
    padding-bottom: 149px;
    position: relative;
    margin-bottom: 50px;
    h2 {
        margin-top: 0;
        font-weight: $extra_bold;
        margin-bottom: 22px;
    }

    .most_popular {
        margin-bottom: 19px;
        &:first-of-type {
            figure {
                display: block;
            }
        }

        &:last-of-type {
            margin-bottom: 25px;
        }

        .post__title {
            font-weight: $bold;
            text-transform: uppercase;

            &.active {
                a {
                    text-decoration: underline;
                }
            }
        }

        figure {
            display: none;
            position: absolute;
            bottom: 0;
            // width: 224px;
            width: 149px;
            height: 149px;
        }

        &.active {
            figure {
                display: block;
            }

            .post__title {
                a {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (min-width: $min-xs) {
    .most_popular_section {
        padding: 0 30px;
        padding-bottom: 180px;
        margin-bottom: 60px;

        .most_popular {
            margin-bottom: 16px;

            &:last-of-type {
                margin-bottom: 35px;
            }

            figure {
                // width: 270px;
                width: 180px;
                height: 180px;
            }
        }
    }
}

@media screen and (min-width: $min-x) {
    .most_popular_section {
        padding: 0 20px;
        padding-bottom: 149px;

        .most_popular {
            margin-bottom: 11px;

            &:last-of-type {
                margin-bottom: 34px;
            }

            figure {
                // width: 224px;
                width: 149px;
                height: 149px;
            }
        }
    }
}

@media screen and (min-width: $min-n) {
    .most_popular_section {
        padding: 0 30px;
        padding-bottom: 149px;
        margin-bottom: 70px;
        h2 {
            margin-bottom: 21px;
        }

        .most_popular {
            margin-bottom: 15px;

            &:last-of-type {
                margin-bottom: 36px;
            }

            // figure {
            //     width: 224px;
            //     height: 149px;
            // }
        }
    }
}


@media screen and (min-width: $min-m) {
    .most_popular_section {
        padding: 0 30px;
        padding-bottom: 180px;
        margin-bottom: 70px;
   
        .most_popular {
            margin-bottom: 16px;

            figure {
                // width: 279px;
                width: 180px;
                height: 180px;
            }
        }
    }
}

@media screen and (min-width: $min-xl) {
    .most_popular_section {
        padding-left: 40px;
        padding-right: 114px;
        padding-bottom: 228px;
        margin-bottom: 100px;
        h2 {
            margin-bottom: 24px;
        }

        .most_popular {
            margin-bottom: 19px;

            &:last-of-type {
                margin-bottom: 35px;
            }

            figure {
                // width: 342px;
                width: 228px;
                height: 228px;
            }
        }
    }
}