.term_basic_section {
    .article_container {
        .large_article {
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: 17px;
        }

        .article {
            border-top: 1px solid $border_grey;
            padding-top: 19px;
            margin-top: 15px;
        }

        .large_article {
            border: none;
            margin-top: 0;
            padding-top: 0;
            .post__category{
                padding-top: 15px;
                margin-bottom: 10px;
            }
        }
    }
}


.single {
    .term_basic_section {
        .article {
            .post__category {
                .caption + span.caption {
                    display: none;
                }
            }
        }
    }
}

// .term_basic_section,
// .term_basic_section_with_banner {
//     margin-top: 100px;
//     margin-bottom: 56px;
// }

@media screen and (max-width: $max-xs) {
    .term_basic_section {
        .small_article_mobile {
            &.align_center {
                .post__content {
                    text-align: left;
                }

                .post__category {
                    justify-content: flex-start;
                }
            }

            &.article_darkmode {
                .post__content {
                    color: $black;
                }
            }
        }

        &.tribute_basic__section {
            &.section_darkmode {
                .small_article_mobile,
                .small_article_mobile.article_darkmode {
                    .post__content {
                        color: $white !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $min-xs) {
    .term_basic_section {
        // margin-bottom: 90px;
        .article_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .article {
                margin-top: 0;
                padding-top: 0;

                &:nth-child(2),
                &:nth-child(3) {
                    margin-top: 19px;
                }

                &:nth-child(3),
                &:nth-child(5) {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        top: 0;
                        bottom: 0;
                        left: -20px;
                        background-color: $border_grey;
                    }
                }

                &:nth-child(2) {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 640px;
                        left: 0;
                        height: 1px;
                        background-color: $border_grey;
                        bottom: -20px;
                    }
                }
            }

            .large_article {
                margin: 0;
                margin-top: 0 !important;
                padding-top: 0;
                padding-bottom: 20px;
                border-bottom: 1px solid $border_grey;
                width: 100%;
                .post__category{
                    padding-top: 18px;
                    margin-bottom: 11px;
                }
            }
        }


        &:not(.term_basic_section_with_banner) {
            .group_button {
                margin-top: 0;
            }
        }
    }
}

@media screen and (min-width: $min-x) {
    .term_basic_section {
        .article_container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-template-rows: 1fr 1fr 1fr;

            .article {
                border-top: none;
                padding-top: 0;
                margin-top: 0;
                margin-bottom: 40px;
                margin-bottom: 0;
            }

            .large_article {
                padding-top: 0;
                padding-bottom: 0;
                border-bottom: none;
                width: 640px;
                height: 640px;
                grid-row: span 2;
                grid-column: span 2;
                margin-bottom: 40px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 980px;
                    left: 0;
                    height: 1px;
                    background-color: $border_grey;
                    bottom: -20px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    right: -20px;
                    height: 100%;
                    background-color: $border_grey;
                    top: 0;
                }
            }

            .article {
                &:nth-child(2) {
                    margin-top: 0;
                    height: 300px;

                    &::before {
                        width: 100%;
                    }
                }

                &:nth-child(3) {
                    margin-top: 0;
                    height: 300px;

                    &::before {
                        display: none;
                    }
                }

                &:nth-child(4) {
                    height: 300px;
                }

                &:nth-child(5) {
                    height: 300px;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        right: -20px;
                        height: 100%;
                        background-color: $border_grey;
                        top: 0;
                    }
                }
            }
        }
    }

    // .term_basic_section,
    // .term_basic_section_with_banner {
    //     margin-bottom: 90px;
    // }
}

@media screen and (min-width: $min-m) {
    .term_basic_section {
        .article_container {
            grid-template-rows: 1fr 1fr;

            .large_article {
                order: 1;

                &::before {
                    display: none;
                }
            }

            .article {
                &:nth-child(2) {
                    order: 2;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        right: -20px;
                        height: 640px;
                        background-color: #dddddd;
                        top: 0;
                    }
                }

                &:nth-child(3) {
                    order: 4;
                }

                &:nth-child(4) {
                    order: 3;

                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        left: 0;
                        height: 1px;
                        background-color: #dddddd;
                        bottom: -20px;
                    }
                }

                &:nth-child(5) {
                    order: 5;

                    &::after,
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

.tribute_basic__section.term_basic_section {
    .article_container .article {
        border-color: rgba($black,0.2);
        &:nth-child(n) {
            &:before,&:after {
                background-color: rgba($black,0.2);
            }
        }
    }
    &.section_darkmode {
        .article_container .article {
            border-color: rgba($white,0.2);
            &:nth-child(n) {
                &:before,&:after {
                    background-color: rgba($white,0.2);
                }
            }
        }
    }
}