.tribute_accordion__wrapper {
  padding: 0;
  .group_header {
    margin: 0 $mobile_gutter $mobile_gutter;
    border-bottom: 4px solid $black;
    .section__title {
      margin-bottom: 0;
      border: 0;
    }
  }
  .radio--btn {
    display: none;
  }
  .radio--btn-1:checked ~ .slides__container .slide-1,
  .radio--btn-2:checked ~ .slides__container .slide-2,
  .radio--btn-3:checked ~ .slides__container .slide-3,
  .radio--btn-4:checked ~ .slides__container .slide-4,
  .radio--btn-5:checked ~ .slides__container .slide-5 {
    flex: 0 0 100%;
  }
  .slides__container {
    display: flex;
  }
  .bg_img {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:after {
      display: none;
    }
  }
  .article {
    margin-bottom: 0;
    padding-bottom: 30px;
    flex: 0 0 0;
    overflow: hidden;
    width: 0;
    background-color: $blue;
    label {
      display: none;
    }
    .article_info {
      figure {
        margin-bottom: 15px;
      }
      .post_img {
        padding-top: 66.66%;
      }
    }
    .post__content {
      position: relative;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 $mobile_gutter;

      .article__supertitle {
        margin-bottom: 8px;
        display: none;
      }
      .post__title {
        text-align: center;
        margin: 0;
        padding-top: 12px;
        min-height: 4em;
      }
    }
    &:nth-of-type(2) {
      background-color: rgba(5, 66, 96, 0.92);
    }
    &:nth-of-type(3) {
      background-color: rgba(5, 66, 96, 0.84);
    }
    &:nth-of-type(4) {
      background-color: rgba(5, 66, 96, 0.76);
    }
    &:nth-of-type(5) {
      background-color: rgba(5, 66, 96, 0.68);
    }
    &.article_darkmode {
      label {
        .counter {
          color: $white;
        }
      }
      .post__title,
      .article__supertitle {
        color: $white;
      }
    }
    &.play_article {
      &.overlay_landscape_img .post__title a::before {
        filter: invert(1);
      }
      &.article_darkmode {
        &.overlay_landscape_img .post__title a::before {
          filter: invert(0);
        }
      }
    }
  }

  .labels__container_mobile {
    display: flex;
    label {
      flex: 1 0 auto;
      padding: 13px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $blue;
      &:nth-of-type(2) {
        background-color: rgba(5, 66, 96, 0.92);
      }
      &:nth-of-type(3) {
        background-color: rgba(5, 66, 96, 0.84);
      }
      &:nth-of-type(4) {
        background-color: rgba(5, 66, 96, 0.76);
      }
      &:nth-of-type(5) {
        background-color: rgba(5, 66, 96, 0.68);
      }
    }
  }
  label {
    .counter {
      font-family: $din_normal;
      font-size: em(22);
      line-height: em(24, 22);
      color: $black;
      @media screen and (min-width: $min-xs) {
        font-size: em(26);
        line-height: em(28, 26);
      }
    }
  }
  .with_sponsor_logo {
    .group_header {
      .section__title {
        padding-bottom: 10px;
      }
      .related_terms {
        justify-content: center;
        padding-bottom: $mobile_gutter;
        a {
          &:first-child {
            display: none;
          }
        }
        > img:first-child {
          display: none;
        }
      }
    }
    .l-article-m-font {
      letter-spacing: 0;
      @media screen and (min-width: $min-xs) {
        letter-spacing: em(-0.43, 43);
      }
      @media screen and (min-width: $min-x) {
        letter-spacing: em(-0.3, 30);
      }
      @media screen and (min-width: $min-m) {
        letter-spacing: em(-0.43, 43);
      }
    }
  }

  &.single {
    .labels__container_mobile,
    .counter {
      display: none;
    }

    .article label {
      justify-content: flex-end;
    }
  }

  &:not(.with_sponsor_logo) {
    .related_terms {
      text-align: center;

      a:last-child {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @media screen and (min-width: $min-xs) {
    .group_header {
      margin-left: 0;
      margin-right: 0;
    }
    .article {
      padding-bottom: 46px;
      .article_info figure {
        margin-bottom: $mobile_gutter;
      }
      .post__content {
        padding: 0 50px 0 30px;
        // .post__title {
        //   text-align: left;
        // }
      }
      &.play_article.overlay_landscape_img .post__title a::before {
        top: -6px;
      }
    }
    .labels__container_mobile {
      label {
        padding: 16px 0;
      }
    }
  }

  @media screen and (min-width: $min-x) {
    .labels__container_mobile {
      display: none;
    }
    .slides__container {
      height: 365px;
    }
    .article {
      display: flex;
      padding-bottom: 0;
      flex: 0 0 50px;
      width: 50px;
      transition: flex 0.8s;
      label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50px;
        flex: 0 0 50px;
        cursor: pointer;
        .counter {
          padding-top: 10px;
        }
        .article__supertitle {
          align-items: center;
          display: flex;
          text-align: left;
          transform: rotate(180deg);
          writing-mode: vertical-rl;
          padding-top: $mobile_gutter;
        }
      }

      .post__content {
        .post__title {
          text-align: left;
        }
      }

      .article_info {
        display: flex;
        width: 100%;
        figure {
          width: 100%;
          min-width: 365px;
          order: 1;
          margin-bottom: 0;
          .post_img {
            padding-top: 0%;
            height: 100%;
          }
        }
        .post__content {
          padding: 50px 60px 0 $mobile_gutter;
          min-width: 365px;
          max-width: 365px;
          .article__supertitle {
            display: none;
          }
        }
      }
      &.play_article.overlay_landscape_img .post__title a::before {
        top: -2px;
      }
    }
    .with_sponsor_logo {
      .group_header {
        align-items: center;
        .section__title {
          padding-bottom: 0px;
          white-space: nowrap;
        }
        .related_terms {
          justify-content: flex-end;
          padding-bottom: 0;
          margin-bottom: 7px;
          a {
            margin-right: 0;
            &:first-child {
              display: block;
            }
            &:last-child {
              display: none;
            }
          }
          > img {
            &:first-child {
              display: block;
            }
            &:last-child {
              display: none;
            }
          }
        }
        &.section_title_full_width {
          .related_terms {
            justify-content: center;
          }
        }
      }
    }

    &:not(.with_sponsor_logo) {
      .section__title {
        text-align: left;
        min-width: 70%;
      }

      .related_terms {
        text-align: right;

        a:last-child {
          margin-left: 0;
          margin-right: 0;
        }
      }

      .group_header {
        &.section_title_full_width {
          .section__title {
            width: 100%;
          }

          .section__title,
          .related_terms {
            text-align: center;
          }

          .related_terms {
            a:last-child {
              margin-left: auto;
              margin-right: auto;
              padding-top: 10px;
            }
          }
        }
      }
    }
    .posts_2 {
      .article .article_info figure {
        min-width: 515px;
      }
    }
    .posts_3 {
      .article .article_info figure {
        min-width: 465px;
      }
    }
    .posts_4 {
      .article .article_info figure {
        min-width: 415px;
      }
    }
  }
  @media screen and (min-width: $min-m) {
    .slides__container {
      height: 510px;
    }
    .article {
      flex: 0 0 60px;
      width: 60px;
      label {
        width: 60px;
        flex: 0 0 60px;
      }
      .article_info {
        figure {
          min-width: 510px;
        }
        .post__content {
          min-width: 510px;
          max-width: 510px;
          padding: 80px 70px 0 40px;
        }
      }
      &.play_article.overlay_landscape_img .post__title a::before {
        top: -6px;
      }
    }
    .posts_2 {
      .article .article_info figure {
        min-width: 690px;
      }
    }
    .posts_3 {
      .article .article_info figure {
        min-width: 630px;
      }
    }
    .posts_4 {
      .article .article_info figure {
        min-width: 570px;
      }
    }
  }
}

@media screen and (min-width: $min-x) {
  .section_title_full_width {
    flex-direction: column;
    .section__title {
      margin-bottom: 15px;
      white-space: normal;
    }
    .related_terms {
      justify-content: center;
    }
  }

  .tribute_accordion {
    &.with_sponsor_logo {
      .group_header {
        &.section_title_full_width {
          .related_terms {
            padding-top: 7px !important;
            padding-bottom: 7px !important;
          }
        }

        &:not(.section_title_full_width) {
          .section__title {
            text-align: left;
          }

          &.with_related_links {
            align-items: flex-end;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $min-xs) and (max-width: $max-x) {
  .tribute_accordion.with_section_supertitle {
    .group_header .related_terms {
      padding-bottom: 16px;
    }
  }
}

.tribute_accordion {
  &.with_section_supertitle {
    .group_header {
      .related_terms {
        white-space: normal;
      }

      &.with_related_links {
        .section__title {
          padding-bottom: 9px;
        }
      }
    }
  }
}
