.popular_articles_section {
    // margin-bottom: 35px;
    .popular_articles_title {
        font-family: $asty_bold;
        font-size: em(22);
        line-height: em(24, 22);
        letter-spacing: -0.02em;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .text_article_container {
        border-top: 4px solid $black;
        padding-top: 14px;
        counter-reset: css-counter 0;
    }

    .text_article {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $border_grey;


        .post__content {
            min-height: 65px;
            .post__category {
                display: block;
            }
        }

        &:last-child {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}


.popular_articles__wrapper {
    .section_sidebar {
        // margin-top: 20px;
        display: none;
    }
}

@media screen and (min-width: $min-xs) {
    .popular_articles_section {
        // width: 300px;
        margin: auto;
        // margin-bottom: 35px;
        margin-right: 0;

        .text_article {
            .post__content {
                padding-right: 0;
            }

            &:last-child {
                border: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (min-width: $min-xs) and (max-width: em(1023)) {
    .popular_articles__wrapper {
        display:flex;
        margin-bottom: 90px;
        // flex-wrap: nowrap;

        .section_sidebar {
            display: block;
            width: 50%;
            order: 1;
            padding-right: 20px;
        }

        .popular_articles_section {
            width: 50%;
            order: 2;
            padding-left: 20px;
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: $min-x) {
    .popular_articles_section {
        width: 100%;
        margin: auto;
        // margin-bottom: 95px;

        .text_article_container {
            display: flex;
        }

        .text_article {
            padding-left: 0;
            width: 25%;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-right: 20px;
            margin-right: 19px;
            border-bottom: none;
            border-right: 1px solid $border_grey;

            .post__content {
                padding-right: 0;
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
            }
        }


        .section_sidebar {
            display: none;
        }
    }
}

@media screen and (min-width: $min-m) {
    .popular_articles_section {
        .text_article_container {
            display: flex;
        }

        // .text_article {
        //     width: 300px;
        // }
    }
}
