.term_basic_section_with_banner {
    .section_sidebar {
        // display: none;

        .ads_element {
            width: 300px;

            .dfp_wrap {
                background-color: $border_grey;
                width: 300px;
                height: 300px;
            }
        }
    }
}

@media screen and (min-width: $min-xs) {
    .term_basic_section_with_banner {
        .article_container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-template-rows: 1fr 1fr;

            .large_article {
                width: 100%;
                grid-row: span 2;
                grid-column: span 2;
            }
        }

        .article_container .article {
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                position: relative;
                order: 2;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $border_grey;
                    bottom: -20px;
                }
            }

            &:nth-child(3) {
                order: 4;
                margin-top: 0;
                margin-bottom: 0;

                &::before {
                    display: none;
                }
            }
        }

        .section_sidebar {
            display: block;
            height: 650px;
            order: 3;
            grid-row: span 2;
            margin-top: 19px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                bottom: 0;
                left: -20px;
                background-color: $border_grey;
            }
        }
    }
}

@media screen and (min-width: $min-x) {
    .term_basic_section_with_banner {
        .article_container {
            grid-template-rows: 1fr 1fr 1fr;

            .large_article {
                width: 100%;
                grid-row: span 2;
                grid-column: span 2;
                margin-bottom: 20px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $border_grey;
                    bottom: -20px;
                }

                &::after {
                    display: none;
                }
            }
        }

        .article_container .article {
            &:nth-child(2) {
                order: 3;
                margin-bottom: 0;
                margin-top: 19px;

                &::before {
                    width: 1px;
                    height: 100%;
                    top: 0;
                    bottom: auto;
                    right: -20px;
                    left: auto;
                }
            }

            &:nth-child(3) {
                order: 4;
                margin-top: 19px;
                margin-bottom: 0;
            }
        }

        .section_sidebar {
            order: 2;
            margin-top: 0;
            grid-row: span 3;
            height: 980px;
        }
    }
}

@media screen and (min-width: $min-m) {
    .term_basic_section_with_banner {
        .article_container {
            grid-template-rows: 1fr 1fr;

            .large_article {
                margin-bottom: 0;

                &::before {
                    display: block;
                    width: 1px;
                    height: 100%;
                    top: 0;
                    bottom: auto;
                    right: -20px;
                    left: auto;
                }
            }
        }

        .article_container .article {
            &:nth-child(2) {
                order: 2;
                margin-top: 0;
                margin-bottom: 38px;

                &::before {
                    width: 100%;
                    height: 1px;
                    top: auto;
                    bottom: -20px;
                    right: auto;
                    left: 0;
                }

                &::after {
                    display: none;
                }
            }

            &:nth-child(3) {
                order: 4;
                margin-top: 0;
            }
        }

        .section_sidebar {
            order: 2;
            margin-top: 0;
            grid-row: span 2;
            height: 640px;
        }
    }
}
