.zodiac_signs {
    // margin-bottom: 29px;
    .group_header {
        .related_terms {
            justify-content: center;

            a {
                margin-right: 0;
            }
        }
    }

    .article {
        &:first-child {
            // border-bottom: 1px solid $border_grey;
            margin: 0 -20px 40px;
            width: calc(100% + 40px);
            max-width: calc(100% + 40px);
            // padding-bottom: 20px;

            &:after {
                content: "";
                background-color: $border_grey;
                height: 1px;
                left: 20px;
                right: 20px;
                position: absolute;
                bottom: -20px;
            }

            .post__title:hover {
                text-decoration-color: $white;
            }
        }
    }

    .section_sidebar {
        display: none;
    }
}

.horoscope_container {
    border-top: 1px solid $border_grey;
    padding-top: 20px;

    .post__content {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 15px;

        .caption {
            font-family: $asty_book;
            font-size: em(16);
            line-height: em(16, 16);
            letter-spacing: -0.01em;
        }

        .post__title {
            font-family: $asty_bold;
            font-size: em(22);
            line-height: em(22, 22);
            letter-spacing: -0.02em;
            margin-left: 0;
        }
    }
}

.signs_container {
    margin: 0 -11px;
}

.horoscope_sign {
    display: inline-block;
    padding: 0 11px;
    margin-bottom: 22px;
    a {
        display: block;

        figure {
            width: 60px;
            height: 60px;
            margin-bottom: 2px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
    .horoscope_title {
        font-family: $asty_book;
        font-size: em(10);
        line-height: em(12, 10);
        text-align: center;
    }
    &:hover {
        svg {
            fill: $grey;
        }
    }
}


// @media screen and (max-width: em(1023)) {
//     .zodiac_signs {
//         .article {
//             &.overlay_mobile {
//                 .post_img {
//                     padding-top: 50%;
//                 }

//                 .post__content {
//                     position: absolute;
//                     bottom: 22px;
//                     background-color: transparent !important;
//                     color: $white !important;
//                     padding: 0 15px;
//                 }
//             }
//         }
//     }
// }



@media screen and (max-width: $max-xs) {
    .zodiac_signs {
        .article {
            &.overlay_mobile {
                .post_img {
                    padding-top: 100%;
                }
            }

            &:first-child {
                .article-s-main-title {
                    font-size: em(20);
                    line-height: em(22,20);
                }
            }
        }
    }
}


@media screen and (min-width: $min-xs) {
    .zodiac_signs {
        // margin-bottom: 96px;

        .group_header {
            .related_terms {
                justify-content: center;
            }
        }

        .article_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .article {
            width: 300px;
            margin-bottom: 0;
            
            &:first-child {
                max-width: 640px;
                width: 640px;
                margin: 0 0 40px;

                &:after {
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    .horoscope_container {
        border-top: none;
        padding-top: 0;
        width: 300px;
        height: 300px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            left: -20px;
            top: 0;
            background-color: $border_grey;
        }

        .post__content {
            margin-bottom: 13px;
        }
    }

    .signs_container {
        margin: 0 -12px;
    }

    .horoscope_sign {
        padding: 0 9px;
        margin-bottom: 21px;
    }
}


@media screen and (min-width: $min-xs) and (max-width: $max-x) {
    .zodiac_signs {
        .article {
            &:first-child {
                .article-s-main-title {
                    font-size: em(26);
                    line-height: em(28,26);
                }

                &:not(.align_center) .post__title {
                    padding-right: 85px;
                }
            }
        }
    }
}


@media screen and (min-width: $min-x) {
    .zodiac_signs {
        .group_header {
            .related_terms {
                justify-content: end;
            }
        }

        .article {
            &:first-child {
                max-width: 300px;
                width: 300px;
                margin: 0;
                border: none;
                padding-bottom: 0;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    right: -20px;
                    left: auto;
                    top: 0;
                    background-color: $border_grey;
                }

            }

            &.overlay_mobile {
                .post_img {
                    &:after {
                        display: none;
                    }
                }

                .post__content {
                    position: static;
                    color: $black !important;
                }
            }
        }
    }

    .horoscope_container {
        .post__content {
            margin-bottom: 16px;
            .caption {
                padding-bottom: 1px;
            }
        }
    }

    .signs_container {
        margin: 0 -8px;
    }

    .horoscope_sign {
        padding: 0 8px;
    }
}

@media screen and (min-width: $min-m) {
    .zodiac_signs {
        display: flex;
        justify-content: space-between;
        .section_container {
            width: 980px;
        }

        .section_sidebar {
            display: block;
            width: 300px;
        }
    }

    .horoscope_container {
        .post__content {
            margin-bottom: 16px;
            .caption {
                padding-bottom: 1px;
            }
        }
    }

    .signs_container {
        margin: 0 -8px;
    }

    .horoscope_sign {
        padding: 0 8px;
    }
}
