.ads_element:not(.prestitial) {
  .dfp-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &.under_menu {
    display: none;
  }
  &.article_end {
    margin-bottom: 50px;
  }
  &.above_taboola {
    margin-top: 40px;
  }
}
.paragraph {
  .inarticle_ad {
    margin: 0 -20px 40px;
  }
}

.adman-placeholder.adman-floating iframe {
  max-width: 100vw;
}
