body {
  padding-top: 51px;
}

//Group button

.group_button {
  display: flex;
  justify-content: center;
  margin-top: 35px;

  a {
    border: 1px solid $black;
    display: flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: $white;

    &:hover {
      color: $red;

      svg {
        color: inherit;
        fill: $red;
      }
    }
  }

  span {
    letter-spacing: 0.05em;
    margin-right: 6px;
  }

  svg {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
  }
}

.term_basic_section_with_banner {
  .group_button {
    display: none;

    &.mobile {
      display: flex;
    }
  }
}

// Group Header

.group_header {
  margin-bottom: 4px;

  .section__title {
    text-transform: uppercase;
    border-bottom: 4px solid $black;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 13px;
    margin-top: 0;
    word-break: break-word;
  }

  .related_terms {
    display: flex;
    justify-content: flex-start;
    word-wrap: initial;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    width: 100%;
    padding-bottom: 10px;

    a {
      margin-right: 15px;
      // text-decoration: underline 1px transparent;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-color: transparent;
      // @include transition(text-decoration-color 0.3s ease-in-out);
      text-underline-offset: 3px;
      -webkit-text-decoration: underline;
      -webkit-text-decoration-thickness: 1px;
      -webkit-text-decoration-color: transparent;
      -webkit-text-underline-offset: 3px;

      &:last-child {
        margin-right: 0;
      }
      &:hover {
        text-decoration-color: $black;
        -webkit-text-decoration-color: $black;
      }
    }
  }
}

@media screen and (max-width: $max-xs) {
  .group_header {
    &.no_related_links {
      .section__title {
        margin-bottom: 20px;
        // padding-bottom: 0;
      }
    }
  }

  .tribute_accordion {
    .group_header {
      &.no_related_links {
        .section__title {
          padding-bottom: 0;
        }
      }
    }
  }
}

// Term basic
.term_basic_section {
  .article_container {
    .large_article {
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 17px;
    }

    .article {
      border-top: 1px solid $border_grey;
      padding-top: 19px;
      margin-top: 15px;
      amp-img {
        bottom: 0;
      }
    }

    .large_article {
      border: none;
      margin-top: 0;
      padding-top: 0;
      .post__category {
        padding-top: 15px;
        margin-bottom: 10px;
      }
    }
  }
}

.single {
  .term_basic_section {
    .article {
      .post__category {
        .caption + span.caption {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $max-xs) {
  .term_basic_section {
    .small_article_mobile {
      &.align_center {
        .post__content {
          text-align: left;
        }

        .post__category {
          justify-content: flex-start;
        }
      }

      &.article_darkmode {
        .post__content {
          color: $black;
        }
      }
    }

    &.tribute_basic__section {
      &.section_darkmode {
        .small_article_mobile,
        .small_article_mobile.article_darkmode {
          .post__content {
            color: $white !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $max-xs) {
  .group_header {
    &.no_related_links {
      .section__title {
        margin-bottom: 20px;
        // padding-bottom: 0;
      }
    }
  }

  .tribute_accordion {
    .group_header {
      &.no_related_links {
        .section__title {
          padding-bottom: 0;
        }
      }
    }
  }
}

// Term basic with banner

.term_basic_section_with_banner {
  .section_sidebar {
    // display: none;

    .ads_element {
      width: 300px;

      .dfp_wrap {
        background-color: $border_grey;
        width: 300px;
        height: 300px;
      }
    }
  }
}
