//When template is Header + Footer + Embed Code
.post-template-single-embed_code,.page-template-single-embed_code {
  @media screen and (max-width: em(1023)) {
    .category__wrapper {
      padding: 0;
      width: 100%;
    }
  }
  .global_footer  {
    border-top: 1px solid rgba(221, 221, 221, 0.2);
  }
}

//When template is Magazine Header + Footer + Embed Code
.post-template-single-magazine_embed_code {
  @media screen and (min-width: $min-xs) {
    .category__wrapper {
      padding: 0 30px;
      width: 100%;
    }
  }
  @media screen and (min-width: $min-x) and (max-width: em(1100)) {
    .category__wrapper {
      padding: 0 $mobile_gutter;
    }
  }
  @media screen and (min-width: $min-xl) {
    .category__wrapper {
      padding: 0 40px;
    }
  }
}


//When template is Header + Footer + Full width
.post-template-single-embed_code_full_width,.page-template-single-embed_code_full_width {
  .global_footer  {
    border-top: 1px solid rgba(221, 221, 221, 0.2);
  }
}
