/* -------------------------------------------------------------------------------------------------
    GLOBAL ELEMENT: HEADER
---------------------------------------------------------------------------------------------------- */

.global_header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid $black;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
  }
  &__quick_links {
    height: inherit;
  }
  .toggle_side_menu,
  .toggle_latest_posts,
  .toggle_primary_menu {
    width: 26px;
    height: inherit;
    svg {
      width: 100%;
      height: 100%;
      &:last-child {
        display: none;
      }
    }
  }
  &__logo,
  &__top--logo {
    a {
      display: block;
      img {
        vertical-align: middle;
      }
    }
  }
  .primary_nav,
  &__quick_links--item {
    display: none;
  }
  &.active {
    .toggle_side_menu,
    .toggle_primary_menu {
      svg {
        &:nth-of-type(1) {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
  }
  &.menuRoi_active {
    .toggle_latest_posts {
      svg {
        &:nth-of-type(1) {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
  }
  &.magazine_header {
    border-bottom: 0;
    .wrapper {
      border-bottom: 1px solid $black;
    }
    .global_header_magazine__logo {
      padding: 5px 0;
      a {
        display: block;
        width: 136px;
        height: 25px;
        margin: 0 auto;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @media screen and (min-width: $min-xs) {
    &.magazine_header {
      .wrapper {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  @media screen and (min-width: $min-x) {
    &.active {
      .toggle_primary_menu,
      .toggle_side_menu {
        svg {
          &:nth-of-type(1) {
            display: block;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
    .wrapper {
      padding: 0 22px;
      justify-content: center;
    }
    &__logo,
    &__top--logo {
      img {
        width: 120px;
      }
    }
    .toggle_side_menu,
    .toggle_primary_menu {
      margin-right: 12px;
    }
    .global_header__quick_links {
      display: flex;
      align-items: center;
      margin-left: auto;
      &--item {
        display: flex;
        margin-right: 15px;
        svg {
          width: 26px;
          height: 26px;
        }
        &:last-child {
          margin-left: 18px;
          margin-right: 0;
        }
        &:hover {
          svg {
            fill: $grey;
          }
        }
      }
      .toggle_latest_posts {
        display: none;
      }
    }
    &.magazine_header {
      border-bottom: 1px solid $black;
      .wrapper {
        justify-content: flex-start;
        padding-left: $mobile_gutter;
        padding-right: $mobile_gutter;
        width: 100%;
        border-bottom: 0;
      }
      .toggle_side_menu {
        margin-right: 15px;
      }
      .global_header__quick_links {
        &--item:last-child {
          margin-left: 0;
        }
      }
      .global_header_magazine__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        a {
          width: 185px;
          height: 35px;
        }
      }
    }
  }
  @media screen and (min-width: $min-x) {
    .wrapper {
      padding: 0;
      width: 980px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .global_header__logo img {
      width: 120px;
    }
    .toggle_side_menu,
    .toggle_primary_menu {
      .burger-icon-svg {
        rect {
          transition-duration: 0.4s;
        }
        &:hover {
          rect {
            width: 16px;
            &:nth-of-type(2) {
              width: 8px;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $min-n) {
    &.magazine_header {
      .wrapper {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  @media screen and (min-width: $min-m) {
    .wrapper {
      width: 1320px;
    }
    .primary_nav {
      display: block;
      margin: 0 auto;
      height: 100%;
      .menu {
        display: flex;
        align-items: center;
        padding: unset;
        margin: unset;
        height: inherit;
        li {
          display: block;
          height: inherit;
          margin-right: 20px;
          a {
            display: inline-flex;
            align-items: center;
            height: inherit;
            position: relative;
            font-size: em(13);
            line-height: em(16, 13);
            font-weight: $regular;
            font-family: $asty_medium;
            letter-spacing: em(1.3, 13);
            text-transform: uppercase;
            &:hover {
              color: $grey;
            }
          }

          &.active a:after {
            width: 100%;
          }
          &:last-child {
            margin-right: 0;
          }
          &.active {
            a:after {
              content: "";
              width: 100%;
              height: 4px;
              background-color: $red;
              position: absolute;
              bottom: 0;
            }
          }
        }
      }
    }
    .global_header__quick_links {
      margin: unset;
    }
    &.active {
      .toggle_side_menu,
      .toggle_primary_menu {
        .burger-icon-svg {
          &:hover {
            rect {
              width: 22px;
            }
          }
        }
      }
    }
    &.magazine_header {
      .wrapper {
        .global_header__quick_links {
          margin-left: auto;
        }
      }
    }
  }
  @media screen and (min-width: $min-xl) {
    &.magazine_header {
      .wrapper {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
  @media screen and (min-width: $min-xxl) {
    &.magazine_header {
      .wrapper {
        width: 1920px;
      }
    }
  }
}

//Overidde for Protoselida
.page-template-protoselida {
  .global_header__logo {
    margin-bottom: 0;
  }
}
