.global__header__main_menu {
  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 32, 64, 0.5);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  .wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    overflow-y: auto;
    position: absolute;
    background-color: $color-dark-blue;
    color: $color-white;
    fill: $color-white;
    height: calc(100vh - 60px);
    top: 60px;
    right: 0;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 0.2s ease-in-out;
    scrollbar-width: none;
  }
  .primary_nav {
    background-color: $color-blue;
    padding: 40px;
    font-family: $heading-pro-bold;
    @include font-18;
    letter-spacing: em(2.88, 18);
    .menu {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  .secondary_nav {
    .menu {
      display: flex;
      flex-wrap: wrap;
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 28px 0;
        &:hover {
          background-color: $color-blue;
        }
      }
    }
    .follow_us__link {
      width: 33.33%;
      border-left: 1px solid $color-blue;
      border-bottom: 1px solid $color-blue;
      &:first-of-type {
        border-left: 0;
      }
      svg {
        width: 20px;
        height: 23px;
      }
    }
    .newsletter__link {
      font-family: $heading-pro-regular;
      @include font-14;
      letter-spacing: em(2.94, 14);
      width: 100%;
      gap: 10px;
      svg {
        width: 16.243px;
        height: 12px;
        fill: $color-white;
      }
    }
  }

  @at-root body#{$openMenu-class-body} & {
    &:before {
      opacity: 1;
      visibility: visible;
    }
    .wrapper {
      visibility: visible;
      opacity: 1;
      max-height: 100vh;
    }
  }
}

@media screen and (min-width: $min-xs) {
  .global__header__main_menu {
    .wrapper {
      top: 72px;
      width: 300px;
      height: auto;
    }
  }
}

@media screen and (min-width: $min-n) {
  .global__header__main_menu {
    position: relative;
    max-width: $container;
    margin: 0 auto;
    .wrapper {
      top: 0;
    }
  }
}
