.basic_article_small {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    figure {
        width: 30%;

        // a {
        //     padding-top: 100%;
        // }
    }

    .post__date {
        margin-left: 0;
    }

    .post__content {
        width: 100%;
        position: static;
        color: inherit;
        padding: 0;
        background-color: transparent !important;
    }

    .post__title {
        margin-top: 3px;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .overlay_article.small_article_mobile,
    .basic_article.small_article_mobile {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        figure {
            width: 30%;
            margin-right: 15px;
            a {
                padding-top: 100%;
            }
        }

        .post__category {
            padding-top: 0;
        }

        .post__content {
            width: 100%;
            position: static;
            color: inherit;
            padding: 0;
            background-color: transparent !important;
            color: $black;
        }

        .post__title {
            margin-top: 4px;
        }
    }
}
