.large_article {
    figure {
        position: relative;
    }

    .post__content {
        padding-left: 20px;
        padding-right: 20px;
        // text-align: center;
        height: 128px;
        min-width: 100%;

        .caption {
            display: inline;
            margin-left: unset;
            margin-right: unset;
        }

        .post__category {
            margin-bottom: 10px;
            padding-top: 14px;
            margin-top: 0;
            display: flex;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 8px;

        }

        span {
            margin-left: 0;
            margin-right: 0;
        }

        .post__title {
             margin-left: unset;
            margin-right: unset;
        }
    }

    &.large_article_overlay {
        .post__content {
            height: auto;
        }

        &.play_article {
            .post__title {
                a:before {
                    background-image: url(../img/icons/play-icon.svg);
                }
            }
        }


        &.live_now {
            .caption {
                a:hover {
                    text-decoration-color: $red;
                }
            }
        }
    }

    &.align_center {
        .post__category {
            .caption {
                margin-left: unset;
                margin-right: unset;
            }
        }
    }
}

.large_article.landscape_img .post_img {
    padding-top: 66%;

    // img {
    //     max-height: 240px;
    // }
}

@media screen and (min-width: $min-xs) {
    .large_article.landscape_img .post_img {
        padding-top: 66.57%;

        img {
            max-height: initial;
            min-height: 100%;
        }
    }

    .large_article {
        .post__content {
            height: 214px;
            padding-left: 0;
            padding-right: 0;

            .post__category {
                margin-bottom: 2px;
                padding-top: 22px;
                margin-top: 0;
            }
        }

        &.has_bg_color {
             .post__content {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        &.large_article_overlay {
            .post__content {
                padding-left: 30px;
                padding-right: 30px;
                bottom: 55px;
            }
        }

        &.play_article {
            .post__title {
                a:before {
                    width: 26px;
                    height: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: $min-x) {
    .large_article.landscape_img .post_img {
        padding-top: 0;

        // img {
        //    position: absolute;
        // }
    }

    .large_article {
        .post__content {
            .post__category {
                margin-bottom: 2px;
                padding-top: 22px;
                margin-top: 0;
            }
        }

         &.large_article_overlay {
            .post__content {
                bottom: 37px;
            }
        }
    }
}
