.align_center {
  .post__content {
    text-align: center;
  }
  &.live_now {
    .post__category {
      display: flex;
    }
  }
}

//generic articles

.article {
  margin-bottom: 35px;
  .post__title {
    a, 
    a * {
      // text-decoration: underline 1px transparent;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-color: transparent;
      // @include transition(text-decoration-color 0.3s ease-in-out);
      text-underline-offset: 3px;
      transition: text-decoration-color 300ms;
      -webkit-text-decoration: underline;
      -webkit-text-decoration-thickness: 1px;
      -webkit-text-decoration-color: transparent;
      -webkit-text-underline-offset: 3px;

      &:hover,
      &:hover * {
        text-decoration-color: $black;
        -webkit-text-decoration-color: $black;
        text-decoration-line: underline;
      }
    }
  }

  &.article_darkmode,
  &.overlay_article,
  &.large_article_overlay {
    .post__content {
      color: $white;
    }

    .post__title {
      a:hover,
      a:hover * {
        text-decoration-color: $white;
      }
    }
  }
  // .post__image {
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     background-color: #c1c1c1;
  //     position: relative;
  //     display: block;
  //     height: 0;
  //     margin: 0;
  // }

  strong {
    font-family: $din_black;
  }
  .caption,
  .category_caption {
    a {
      // text-decoration: underline 1px transparent;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-color: transparent;
      transition: text-decoration-color 300ms;
      // @include transition(text-decoration-color 0.3s ease-in-out);
      text-underline-offset: 3px;
      -webkit-text-decoration: underline;
      -webkit-text-decoration-thickness: 1px;
      -webkit-text-decoration-color: transparent;
      -webkit-text-underline-offset: 3px;

      &:hover {
        text-decoration-color: $black;
        -webkit-text-decoration-color: $black;
        text-decoration-line: underline;
      }
    }
  }

  &.article_darkmode {
    .category_caption,
    .post__title,
    .caption {
      a:hover {
        text-decoration-color: $white;
        text-decoration-line: underline;
      }
    }
  }
}

.article_category,
.article_tag {
  // text-decoration: underline 1px transparent;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: transparent;
  // @include transition(text-decoration-color 0.3s ease-in-out);
  text-underline-offset: 3px;
  -webkit-text-decoration: underline;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-color: transparent;
  -webkit-text-underline-offset: 3px;

  &:hover {
    text-decoration-color: $black;
    -webkit-text-decoration-color: $black;
  }
}

.article {
  &.play_article {
    .post__title {
      a::before {
        position: relative;
        content: "";
        background: url(../img/icons/play-icon-black.svg) no-repeat scroll
          center center transparent;
        background-size: 100% auto;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        width: 12px;
        height: 14px;
        display: inline-block;

        span {
          display: inline;
        }
      }
    }

    &.overlay_article,
    &.article_darkmode {
      a::before {
        background: url(../img/icons/play-icon.svg) no-repeat scroll center
          center transparent;
          background-size: 100% auto;
      }
    }

    // &.overlay_landscape_img {
    //   a::before {
    //     width: 16px;
    //     height: 18px;
    //   }
    // }
  }

  &.align_center {
    .caption {
      margin-right: 0;
    }

    

    .post__category {
      justify-content: center;
      column-gap: 8px;
      row-gap: 5px;
      flex-wrap: wrap;
      // margin-top: 2px;
    }
  }

  &.live_now {
    .caption {
      color: $red;
      display: inline;
      position: relative;

      a {
        display: flex;
        align-items: center;
        color: $red;
        &:before {
          content: " ";
          width: 6px;
          height: 6px;
          background-color: $red;
          margin-right: 4px;
          border-radius: 10px;
          animation: liveblog_flash 1.8s infinite;
        }
        &:hover {
          text-decoration-color: $red;
        }
      }
    }
  }
}

//other articles

.small_article {
  display: flex;

  .post__image {
    width: 70px;
    padding-top: 7.49%;
  }

  .caption {
    margin: 0;
    display: inline;
  }

  .author,
  .sponsor,
  .post__date {
    margin: 0;
    margin-bottom: 3px;
    display: block;
  }

  .post__content {
    width: 215px;
    padding-left: 16px;
  }
}

.text_article {
  display: flex;
  position: relative;
  counter-increment: css-counter 1;

  &::before {
    position: absolute;
    color: $red;
    font-size: em(52);
    line-height: 52px;
    font-family: $din_normal;
    // padding-top: 21px;
    top: 21px;
    left: 0;
    content: counter(css-counter) "";
  }

  .caption {
    margin-bottom: 9px;
  }

  .post__content {
    padding-left: 40px;
    padding-right: 20px;
  }
}

// Modules with flex and order

.article {
  .post__content {
    display: flex;
    flex-direction: column;

    .post__category {
      display: flex;
      order: 1;
    }

    .post__title {
      order: 2;
    }
  }
}





@media screen and (min-width: $min-xs) {
  .article {
    &.play_article {
      &.overlay_landscape_img {
        .post__title {
          a::before {
            width: 16px;
            height: 18px;
          }
        }
      }
    }
  }
}



