.article.skitso {
    figure {
        padding: 32px 32px 0;
    }

    .post__content {
        text-align: center;
        padding-top: 13px;
    }

    .post__category {
        justify-content: center;
    }

    .caption {
        display: inline;
        margin: 0;
    }

    .sponsor {
        margin-left: 8px;
    }
}

@media screen and (min-width: $min-xs) {
    .article.skitso {
        width: 300px;
        figure {
            padding: 30px 30px 0;
        }
    }
}


