//article temp

.basic_article {
    width: 100%;
    // max-width: 320px;
}

.overlay_article {
    width: 100%;
    // max-width: 320px;

    &.overlay_landspace_img {
        // max-width: 640px;
    }
}

// -----------------------------------

// .landscape_img {
//     .post__image {
//         padding-top: 50%;
//     }
// }

// .landscape_img_large {
//     .post__image {
//         padding-top: 66.57%;
//     }
// }

// .square {
//     .post__image {
//         padding-top: 100%;
//     }
// }

// .overlay_landspace_img {
//     .post__image {
//         padding-top: 47%;
//     }
// }

// __________________________________________________________________

// .landscape_img_large .post_img {
//     height: 426px;
// }

// .landscape_img_large .post_img {

// }

// .square .post_img {
//     height: 640px;
// }

// .overlay_landspace_img .post_img {
//     height: 300px;
// }

// .landscape_img_large .post_img img {
//     width: 640px;
//     height: 426px;
// }

// -------------------------------------------------

// .basic_article .post_img img {
//     height: 160px;
// }
// .small_article .post_img img {
//     width: 72px;
// }

// .landscape_img_large .post_img img {
//     // width: 360px;
//     height: 240px;
// }

// .basic_article_small .post_img img {
//     height: 150px;
// }

// .above_center_article.landscape_img_large img {
//     height: 360px;
// }

//--------------------------------------------------

.article .post_img {
    display: block;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: none;
        object-fit: cover;
        height: auto;
    }
}

.center_article .article {
    .post_img {
        padding-top: 100%;
    }
}

.landscape_img .post_img {
    padding-top: 50%;
}

.square .post_img {
    padding-top: 100%;
}

.overlay_landscape_img {
    .post_img {
        padding-top: 100%;
    }
}

@media screen and (min-width: $min-xs) {
    .basic_article {
        max-width: 300px;
    }

    .overlay_article {
        max-width: 300px;
    }

    .center_article .article {
        .post_img {
            padding-top: 0;

            img {
                position: static;
                display: block;
            }
        }

        .post__content {
            padding-bottom: 38px;
            height: auto;
        }
    }

    .overlay_landscape_img {
        width: 100%;
        max-width: 100%;
        .post_img {
            padding-top: 0;

            img {
                height: auto;
                position: static;
            }
        }
    }
}

@media screen and (min-width: $min-x) {
    .article .post_img {
        position: static;
        img {
            position: static;
            display: block;
        }
    }

    .landscape_img .post_img,
    .square .post_img {
        padding-top: 0;
    }

    .center_article .article {
        .post_img {
            padding-top: 0;
            img {
                height: 426px;
            }
        }

        &.overlay_article {
            .post_img {
                img {
                   height: 640px;
                }
            }
        }
    }
}
