
/* MODULE: OPINIONS CAROUSEL
----------------------------------------------------------------------*/

.opinion_article {
    // width: 300px;
    // height: 300px;
    background-color: $beige;
    position: relative;
    margin-bottom: 20px;

    .post_img {
        padding-top: 100%;

        img {
            top: auto;
            left: auto;
            // width: 50%;
            position: absolute;
            bottom: 0;
            // right: 0;
            right:-20px;
            width: 70%;
        }
    }

    .post__content {
        position: absolute;
        top: 0;
        padding-top: 13px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .caption {
        margin: 0;
        padding-bottom: 2px; //new 09/10
        display: inline;
    }

    .post__category {
        row-gap: 5px;
        column-gap: 8px;
        margin-bottom: 9px;
        display: flex;
        padding-top: 0;
        flex-wrap: wrap; //new 09/10

        .sponsor {
            // margin-left: 8px; 
            margin-left: 0; //new 09/10

            a {
               // @include transition(text-decoration-color 0.3s ease-in-out);
                // text-decoration: underline 1px transparent;
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-decoration-color: transparent;
                text-underline-offset: 3px;
                -webkit-text-decoration: underline;
                -webkit-text-decoration-thickness: 1px;
                -webkit-text-decoration-color: transparent;
                -webkit-text-underline-offset: 3px;

                &:hover {
                    text-decoration-color: $black;
                    -webkit-text-decoration-color: $black;
                    text-decoration-line: underline;
                }
            }
        }
    }

    .post__title {
        margin-top: 0;
    }
}

@media screen and (min-width: $min-xs) {
    .opinion_article {
        width: 300px;
        height: 300px;
        margin-bottom: 40px;

        .post_img {
            // padding-top: 0;

            img {
                width: 210px;
            }
        }
    }
}

@media screen and (min-width: $min-x) {
    .opinion_article {
        .post_img {
            padding-top: 100%;

            img {
                right: -10px;
            }
        }

        .post__title {
            max-height: 4.4em;
            overflow: hidden;
        }
    }
}

@media screen and (min-width: $min-n) {
    .opinion_article {
        .post_img {
            padding-top: 100%;

            img {
                right: -25px;
            }
        }
    }
}

