.category__wrapper {
  padding: 0 $mobile_gutter;
  .category__header {
    .group_header {
      margin-bottom: 0;
    }
    .section__title {
      text-transform: uppercase;
      border-bottom: 4px solid $black;
      text-align: center;
      padding-bottom: 13px;
      margin-bottom: 13px;
    }
    .related_terms {
      display: flex;
      overflow-x: auto;
      margin-right: -$mobile_gutter;
      width: auto;
      padding-bottom: 0;
      a {
        margin-right: 15px;
        white-space: nowrap;
        &:last-child {
          margin-right: 0;
        }
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    + .category__content {
      margin-top: $mobile_gutter;
    }
  }
  .category__description {
    border-top: 1px solid $black;
    border-bottom: 1px solid $light_grey;
    margin-bottom: $mobile_gutter;
    &:not(.tag__description) {
      .section_description {
        margin: 15px 0 17px;
      }
    }
  }
  .main_sidebar {
    display: none;
    width: 100%;
    max-width: 300px;
  }

  .category__posts {
    .article {
      position: relative;
      box-sizing: content-box;
      .post__category {
        padding-top: 0;
      }
    }
  }
  @media screen and (max-width: em(767)) {
    .category__header {
      margin: 40px 0 13px;
    }
    .category__posts {
      .article {
        display: flex;
        border-bottom: 1px solid $light_grey;
        padding-bottom: 15px;
        margin-bottom: $mobile_gutter;
        figure {
          width: 30%;
          margin-right: 15px;
          a {
            padding-top: 0;
          }
          img {
            position: relative;
          }
        }
        .post__content {
          width: 100%;
          .post__title {
            margin-top: 5px;
          }
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  @media screen and (min-width: $min-xs) {
    padding: 0;
    width: 640px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    .category__header {
      margin: 63px 0 $mobile_gutter;
      .section__title {
        text-align: left;
        margin-bottom: $mobile_gutter;
      }
      .related_terms {
        margin-right: 0;
        a {
          margin-right: $mobile_gutter;
        }
      }
    }
    .category__posts {
      display: flex;
      flex-wrap: wrap;
      .article {
        margin-bottom: 40px;
        &:nth-of-type(even) {
          margin-left: $mobile_gutter;
          padding-left: 19px;
          border-left: 1px solid $light_grey;
          &::before {
            content: "";
            position: absolute;
            background-color: $light_grey;
            width: 640px;
            height: 1px;
            bottom: -$mobile_gutter;
            right: 0;
          }
          &:last-of-type:before {
            display: none;
          }
        }
        figure {
          margin-bottom: 15px;
        }
        .post__content {
          height: 135px;
          overflow: hidden;
          .post__title {
            margin-top: 8px;
          }
        }
      }
      // .ads_element {
      //   border-top-width: 60px;
      //   border-bottom-width: 60px;
      //   margin-top: -60px;
      //   height: inherit;
      // }
    }
  }
  @media screen and (min-width: $min-x) {
    .category__header {
      .group_header {
        border-bottom: 0;
        display: block;
        padding-bottom: 0;
        .related_terms {
          justify-content: flex-start;
        }
      }
    }
  }
  @media screen and (min-width: $min-x) {
    width: 980px;
    .category__header {
      border-bottom: 4px solid $black;
      padding-bottom: 9px;
      margin: 93px 0 0;
      .group_header {
        display: flex;
        justify-content: space-between;
        .section__title {
          border: 0;
          margin: 0;
          padding-bottom: 0;
        }
        .related_terms {
          align-self: flex-end;
          flex: 1 0 auto;
          justify-content: flex-end;
          margin-bottom: 5px;
        }
      }
    }
    .category__description {
      .section_description {
        border-top: 0;
      }
    }
    .category__main_column {
      width: 100%;
    }
    .category__posts {
      position: relative;
      width: 100%;
      height: max-content;
      // .ads_element {
      //   display: none;
      // }
    }
    .sticky_element__article_sidebar__parent,
    .grid_posts_container_with_sidebar {
      display: flex;
      justify-content: space-between;
    }
    .main_sidebar {
      display: block;
      position: relative;
      // .ads_element {
      //   background-color: $ad_bg;
      //   width: 300px;
      //   height: 600px;
      //   position: sticky;
      //   top: 60px;
      // }
      &:before {
        content: "";
        position: absolute;
        left: -$mobile_gutter;
        width: 1px;
        height: calc(100% - 40px);
        background-color: $light_grey;
      }
    }
  }
  @media screen and (min-width: $min-m) {
    &:not(.search-results__wrapper) {
      width: 1320px;
      .section__title {
        line-height: em(56, 56);
      }
      .category__widget {
        border-bottom: 1px solid $light_grey;
        padding-bottom: $mobile_gutter;
        margin-bottom: $mobile_gutter;
        .article_container {
          .article:first-child {
            margin-bottom: 0;
          }
        }
        .term_basic_section_with_banner .article {
          &:nth-child(2),
          &:nth-child(3) {
            &:before {
              bottom: 0;
            }
          }
        }
      }
      .category__posts {
        .article {
          &:nth-of-type(even) {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
            &:before {
              display: none;
            }
          }
          &:nth-of-type(3n-1) {
            margin-left: 19px;
            padding-left: $mobile_gutter;
            border-left: 1px solid $light_grey;
          }
          &:nth-of-type(3n) {
            margin-left: 19px;
            padding-left: $mobile_gutter;
            border-left: 1px solid $light_grey;
            &:after {
              content: "";
              position: absolute;
              background-color: $light_grey;
              width: 980px;
              height: 1px;
              bottom: -$mobile_gutter;
              right: 0;
            }
            &:last-of-type:after {
              display: none;
            }
          }
        }
      }
    }
  }
  &.news_feed__wrapper,
  &.search-results__wrapper {
    @media screen and (min-width: $min-xs) {
      .category__posts {
        display: block;
        .article {
          display: flex;
          border-bottom: 1px solid $light_grey;
          padding-bottom: $mobile_gutter;
          margin-bottom: $mobile_gutter;
          max-width: 100%;
          figure {
            width: 100%;
            margin-right: 40px;
            margin-bottom: 0;
          }
          .post__content {
            width: 100%;
            justify-content: center;
          }
          &:nth-of-type(even) {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
            &:before {
              display: none;
            }
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
    @media screen and (min-width: $min-x) {
      .category__main_column {
        margin-right: 40px;
      }
    }
    @media screen and (min-width: $min-m) {
      .category__posts {
        .article {
          &:nth-of-type(3n),
          &:nth-of-type(3n-1) {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
            &:after {
              display: none;
            }
          }
        }
        .post__content {
          min-width: 640px;
        }
      }
    }
  }
  &.with_description {
    &:not(.with_related_links) {
      .category__header {
        margin-bottom: 0;
        .section__title {
          margin-bottom: 0;
        }
      }
      .category__description {
        border-top: 0;
        .section_description {
          border-top: 0;
        }
      }
    }
    &.with_related_links {
      @media screen and (min-width: $min-x) {
        .category__description {
          border-top: 0;
          .section_description {
            border-top: 0;
          }
        }
      }
    }
  }
}

.category__content .term_basic_section {
  margin-bottom: 0;
}

.category__widget.has_featured_group {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $border_grey;
}

.category__wrapper.has_featured_group .category__description {
  border-bottom: none;
  margin-bottom: 0;
}

.archive {
  .term_basic_section {
    .article {
      .post__category {
        .caption {
          + .caption {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $min-xs) {
  .category__widget.has_featured_group {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}

@media screen and (min-width: $min-x) {
  .category__wrapper.has_featured_group {
    .category__description {
      border-bottom: 1px solid $border_grey;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: em(1349)) {
  .category__main .term_basic_section {
    article:nth-child(4),
    article:nth-child(5) {
      display: none;
    }

    .article_container {
      grid-template-rows: 1fr 1fr;
    }
  }
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  .load_more_posts {
    border: 1px solid $black;
    display: flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: $white;
    span {
      font-family: $asty_bold;
      font-size: em(14);
      line-height: em(18, 14);
      letter-spacing: em(0.7, 14);
      text-transform: uppercase;
      margin-right: 8px;
    }
    svg {
      width: 16px;
      height: 16px;
      transform: rotate(180deg);
      align-self: baseline;
    }
    &:hover {
      span {
        color: $red;
      }
      svg {
        fill: $red;
      }
    }
  }
}

@media screen and (max-width: $max-xs) {
  .category__main .term_basic_section {
    article:nth-child(4),
    article:nth-child(5) {
      display: flex;
    }
  }
}

@media screen and (min-width: $min-xs) {
  .load-more-container {
    position: relative;
    &:before {
      content: "";
      background-color: $black;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      z-index: 0;
    }
  }
}
