.category__wrapper.podcasts_wrapper {
  @media screen and (max-width: em(767)) {
    .category__posts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .article {
        width: 47%;
        border-bottom: 0;
        padding-bottom: 0;
        figure {
          width: 100%;
          margin-right: 0;
        }
        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }
  @media screen and (min-width: $min-xs) {
    .category__posts {
      .article {
        figure {
          margin-bottom: 0;
          img {
            position: relative;
          }
        }
      }
    }
  }
}

.podcasts_wrapper,
.podcasts_category__wrapper {
  .category__description {
    .section_description {
      a {
        text-decoration: underline;
        text-decoration-color: $light_red;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
        -webkit-text-decoration: underline;
        -webkit-text-decoration-thickness: 1px;
        -webkit-text-decoration-color: $light_red;
        -webkit-text-underline-offset: 4px;

        &:hover {
          text-decoration-color: $black;
          -webkit-text-decoration-color:$black;
        }
      }
    }
  }
}

.podcasts__subscription_area {
  text-align: center;
  margin-bottom: 40px;

  > span {
    color: $red;
    font-size: 14px;
    line-height: em(16, 14);
    font-family: $asty_bold;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 10px;

    &:hover {
      opacity: 0.6;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.group_header {
  .podcasts__subscription_area {
    display: none;
  }
}

.podcast_series__playlist {
  margin: 0 -20px 40px;
}

.podcasts_category__wrapper {
  .podcasts_cta {
    text-align: center;
    margin-bottom: 10px;
    display: block;
    text-decoration: 1px underline transparent;
    transition: text-decoration-color 300ms;
    text-underline-offset: 3px;
    &:hover {
      text-decoration-color: $black;
      text-decoration-line: underline;
    }
  }
  .category__description {
    border-bottom: none;
  }
}

// TEMP

// .global_footer + iframe, 
.single_post__audio_player_code {
  position: fixed;
  // bottom: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2147483647;
  // height: 80px;
  background-color: #282828;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 0;

  iframe {
    height: 155px;
  }
}

@media screen and (min-width: $min-xs) {
  .podcasts__subscription_area {
    display: flex;
    align-items: center;

    > span {
      margin-bottom: 0;
    }

    a {
      margin-left: 0;
      margin-right: 15px;
      &:first-child {
        margin-left: $mobile_gutter;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .podcast_series__playlist {
    margin: 0 0 40px;
  }

  // .global_footer + iframe,
  .single_post__audio_player_code{
    // height: 155px;
    bottom: 0;
  }
  .podcasts_category__wrapper {
    .podcasts_cta {
      text-align: left;
      margin-bottom: $mobile_gutter;
    }
    .category__header {
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: $min-x) {
  .podcasts_category__wrapper {
    .category__header {
      margin-top: 60px;
    }
  }

  // .global_footer + iframe,
  .single_post__audio_player_code {
    padding-left: calc((100vw - 1020px)/2);
    padding-right: calc((100vw - 1020px)/2);
  }
}

@media screen and (min-width: $min-m) {
  .full_width_podcast_subcategory_title {
    .group_header {
      .podcasts__subscription_area {
        display: none;
      }
    }
    .podcasts__subscription_area {
      display: flex;
    }
  }
  .podcasts__subscription_area {
    display: none;
  }

  .group_header {
    .podcasts__subscription_area {
      display: flex;
      margin-bottom: 10px;
      flex: 1 0 285px;
      justify-content: flex-end;
    }
  }

  .podcast_series__playlist {
    margin: 40px 0;
  }

  // .global_footer + iframe,
  .single_post__audio_player_code {
    padding-left: calc((100vw - 1360px)/2);
    padding-right: calc((100vw - 1360px)/2);
  }
}
