.category-videos__wrapper.videos-subcategory__wrapper {
  .featured_video_container {
    margin-bottom: $mobile_gutter;
  }
  .category__posts {
    padding-top: $mobile_gutter;
    border-top: 1px solid rgba(221, 221, 221, 0.2);
    .article {
      display: block;
      border-bottom: 0;
      figure {
        width: 100%;
        margin-bottom: 15px;
      }
      .post__category {
        span {
          display: none;
        }
      }
      .post__content {
        .post__title {
          margin-top: 0;
          font-size: em(20);
          line-height: em(22, 20);
          &:hover {
            text-decoration-color: $white;
          }
          a {
            &:before {
              background-image: url("../img/icons/play-icon.svg");
            }
          }
        }
      }
    }
  }
  .load-more-container {
    .load_more_posts {
      padding: 15px 37px;
      background-color: $video_dark;
      border-color: $white;
      span {
        color: $white;
      }
      svg {
        fill: $white;
      }
      &:hover {
        span {
          color: #555555;
        }
        svg {
          fill: #555555;
        }
      }
    }
  }
  @media screen and (min-width: $min-xs) {
    .category__posts {
      .article {
        &:nth-of-type(even) {
          border-left-color: rgba(255, 255, 255, 0.2);
          &:before {
            opacity: 0.2;
          }
        }
      }
    }
    .load-more-container {
      &:before {
        background-color: $white;
      }
    }
  }
  @media screen and (min-width: $min-x) {
    .category__main_column {
      margin-right: 40px;
    }
    .main_sidebar {
      &::before {
        opacity: 0.2;
      }
    }
    @media screen and (max-width: em(1349)) {
      .featured_video_container {
        .featured_video__main_image .post_img:before {
          width: 48px;
          height: 56px;
        }
        .post__content {
          .post__title {
            font-size: em(26);
            line-height: em(28, 26);
          }
          .post__category {
            h4 {
              font-size: em(14);
              line-height: em(16, 14);
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $min-m) {
    .category__posts {
      .article {
        &:nth-of-type(3n),
        &:nth-of-type(3n-1) {
          border-left-color: rgba(255, 255, 255, 0.2);
          &:after {
            opacity: 0.2;
          }
        }
      }
    }
  }
}
