.category-videos,
.videos-subcategory,
.single-video {
  background-color: $video_dark;
  .global_wrapper {
    background-color: $video_dark;
  }
  .post__title,
  .caption {
    a:hover {
      text-decoration-color: $white;
    }
  }
}
.category__wrapper.category-videos__wrapper {
  position: relative;
  .category__header,
  .category__description,
  .category__content,
  .post__content {
    position: relative;
  }
  .category__header {
    margin: 0;
    padding-top: 40px;

    + .featured_video_width_sidebar {
      margin-top: 20px;
    }
  }
  .section__title {
    border-color: $white;
  }
  .section__title,
  .section_description,
  .post__title,
  .post__category,
  .section_subtitle {
    color: $white;
  }
  .post__category {
    margin-bottom: 8px;
    a {
      // text-decoration: underline 1px transparent;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-color: transparent;
      // @include transition(text-decoration-color 0.3s ease-in-out);
      text-underline-offset: 3px;
      -webkit-text-decoration: underline;
      -webkit-text-decoration-thickness: 1px;
      -webkit-text-decoration-color: transparent;
      -webkit-text-underline-offset: 3px;

      &:hover {
        text-decoration-color: $white;
        -webkit-text-decoration-color: $white;
        text-decoration-line: underline;
      }
    }
  }
  .category__description {
    border: 0;
    margin-bottom: 0;
  }
  .featured_video_width_sidebar {
    padding-bottom: 52px;
  }
  .featured_video_container {
    .article {
      position: relative;
      margin-bottom: 0;
    }
    .featured_video__main_image {
      @media screen and (max-width: em(767)) {
        margin-left: -$mobile_gutter;
        margin-right: -$mobile_gutter;
      }
      position: relative;
      a {
        display: block;
        height: 100%;
        padding-top: 100%;
        img {
          height: 100%;
        }
        &:before {
          content: " ";
          width: 48px;
          height: 56px;
          position: absolute;
          background: transparent url("../img/icons/play-icon-large.svg") 0% 0%
            no-repeat padding-box;
          background-size: contain;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
        &:after {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
          );
          opacity: 0.5;
        }
      }
    }
    .post__content {
      position: absolute;
      bottom: 0px;
      margin-bottom: 17px;
      h3 {
        // height: 114px;
        height: auto;
        overflow: hidden;
      }
    }
    .post__category {
      h4 {
        margin: 0;
      }
    }
  }

  .latest_videos {
    padding-bottom: 50px;
    .section_subtitle {
      border-bottom: 1px solid rgba(221, 221, 221, 0.2);
      padding-bottom: 16px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    &:last-child {
      padding-bottom: 100px;
    }
  }
  .carusel_container {
    margin: 0 -10px;
    &__slider {
      .article {
        min-width: 300px;
        padding: 0 10px;
        justify-content: unset;
        margin-bottom: 0px;
        figure {
          @media screen and (max-width: em(1023)) {
            width: 100%;
            .post_img {
              padding-top: 50%;
            }
          }
        }
        .post__content {
          .post__category {
            padding-top: 15px;
            margin-bottom: 0;
            span {
              display: none;
            }
          }
          .post__title {
            font-size: em(20);
            line-height: em(22, 20);
            font-family: $din_black;
            a:before {
              background-image: url("../img/icons/play-icon.svg");
            }
            &:hover {
              text-decoration-color: $white;
            }
          }
        }
      }
    }
    .dots,
    .arrows_container {
      display: none;
    }
  }

  @media screen and (min-width: $min-xs) {
    .category__header {
      padding-top: 64px;
      .section__title {
        margin-bottom: 0;
      }
    }
    .category__description {
      border-bottom: 1px solid rgba(221, 221, 221, 0.2);
      margin-bottom: 20px;
    }
    .featured_video_container {
      .featured_video__main_image {
        a {
          padding-top: 56.3%;
        }
      }
      .post__content {
        padding: 0 $mobile_gutter;
        .post__title {
          height: unset;
        }
      }
    }
    .category__latest__main_column {
      overflow: hidden;
    }
    .latest_videos {
      padding-bottom: 52px;
      position: relative;
    }
    .carusel_container {
      margin: 0 -20px;
      &__slider {
        .article {
          min-width: 50%;
          max-width: 50%;
          padding: 0 20px;
          &:after {
            content: "";
            position: absolute;
            background-color: $white;
            opacity: 0.2;
            width: 1px;
            height: 100%;
            top: 0;
            right: 0;
          }
        }
      }
      .dots {
        display: block;
        position: absolute;
        top: 0px;
        right: 105px;
        li.dot {
          margin-right: 10px;
          margin-top: 18px;
          .dot {
            padding: 3px;
            background-color: #cccccc;
            &__active {
              background-color: $red;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .arrows_container {
        display: flex;
        align-items: center;
        position: absolute;
        top: -2px;
        right: 15px;
        .arrow {
          width: 15px;
          height: 15px;
          &:before {
            content: "";
            border: 0;
          }
          svg {
            color: $red;
            width: 100%;
            height: 100%;
          }
          &__left {
            margin-right: 36px;
            svg {
              transform: rotate(180deg);
            }
            &:after {
              content: "";
              width: 1px;
              height: 40px;
              background-color: $white;
              opacity: 0.2;
              position: absolute;
              left: 32px;
              top: -12px;
            }
          }
          &__disabled {
            svg {
              color: #cccccc;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $min-x) {
    .category__header {
      border-color: $light_grey;
      padding-top: 144px;
    }
    .featured_video_container {
      .featured_video__main_image {
        .post_img {
          position: relative;
          &:before {
            width: 72px;
            height: 84px;
          }

          img {
            position: absolute;
          }
        }
      }
      .post__content {
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: 33px;
      }
    }
    .main_sidebar {
      &.top {
        display: none;
      }
      &.bottom {
        &:before {
          opacity: 0.2;
          height: calc(100% - 100px);
          background-color: $light_grey;
        }
      }
    }

    .post__category {
      margin-bottom: 14px;
    }
    .category__latest_container {
      @media screen and (max-width: em(1349)) {
        display: flex;
        justify-content: space-between;
        .category__latest__main_column {
          max-width: 640px;
        }
      }
    }
  }
  @media screen and (min-width: $min-m) {
    .category__header {
      padding-top: 154px;
    }
    .main_sidebar {
      &.top {
        display: block;
        &:before {
          opacity: 0.2;
          height: 100%;
        }
      }
      &.bottom {
        display: none;
      }
    }
    .featured_video_width_sidebar {
      display: flex;
    }
    .featured_video_container {
      width: 100%;
      margin-right: 40px;
    }
    .carusel_container {
      &__slider {
        .article {
          min-width: 25%;
          max-width: 25%;
        }
      }
    }
    .category__latest_container {
      .category__latest__main_column {
        max-width: 1320px;
      }
    }
  }
}
