.magazine_tribute .section__title {
    font-family: $jetBrains;
    font-size: em(30);
    line-height: em(32, 30);
    font-weight: $extra_bold;
    border: none;

    @media screen and (min-width: $min-xs) {
        font-size: em(34);
        line-height: em(36, 34);
    }

    @media screen and (min-width: $min-x) {
        font-size: em(30);
        line-height: em(32, 30);
    }

    @media screen and (min-width: $min-n) {
        font-size: em(32);
        line-height: em(34, 32);
    }

    @media screen and (min-width: $min-m) {
        font-size: em(34);
        line-height: em(36, 34);
    }

    @media screen and (min-width: $min-xl) {
        font-size: em(44);
        line-height: em(46, 44);
    }
}

.magazine_tribute {
    padding-bottom: 48px;
    margin-bottom: 50px;
    .related_terms {
        padding: 0;
        justify-content: center;
        > *:last-of-type {
            display: none;
        }
        img {
            margin: auto;
            min-width: 170px;
        }
    }

    .group_header {
        padding-top: 34px;
        padding-bottom: 16px;
        border: none;
        width: 100%;
        border: none!important;

        &.section_title_full_width {
            .related_terms {
                justify-content: center;
            }
        }
        .section__title {
            text-align: center;
            margin-top: 0;
            margin-bottom: 11px;
            padding: 0;
            border: none;
        }
    }

    .three_articles_grid {
        margin-bottom: 0;
    }

    .mag_basic_article {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: $min-xs) {
    .magazine_tribute {
        padding-bottom: 0;
        margin-bottom: 60px;
        .article {
            margin-bottom: 0;
        }

        .related_terms {
            img {
                min-width: 200px;
            }
        }

        .group_header {
            margin-bottom: 0;
            padding-bottom: 28px;
        }

        &.section_darkmode {
            .caption {
                a {
                    &:hover {
                        text-decoration-color: $white;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $min-xs) and (max-width: $max-x) {
    .magazine_tribute {
        .mag_basic_article {
            &:first-of-type {
                .post__content::before {
                    background-color: rgba($black, 0.2);
                }
            }

            .post__content {
                &:after {
                    background-color: rgba($black, 0.2);
                }
            }
        }

        &.section_darkmode {
            &:first-of-type {
                .post__content::before {
                    background-color: rgba($white, 0.2);
                }
            }

            .post__content {
                &:after {
                    background-color: rgba($white, 0.2);
                }
            }
        }
    }
}

@media screen and (min-width: $min-x) {
    .magazine_tribute {
        padding-bottom: 10px;
        margin-bottom: 60px;
        .related_terms {
            width: fit-content;
            justify-content: flex-end;
            margin: auto;
            margin-right: 0;
            > * {
                &:last-of-type {
                    display: block;
                }
                &:first-of-type {
                    display: none;
                }
            }

            img {
                min-width: 230px;
            }
        }

        &.with_supertitle {
            .group_header {
                .related_terms {
                    .caption {
                        display: none;
                    }
                }
            }
        }

        .group_header {
            padding-left: 20px;
            padding-right: 30px;
            margin-bottom: 0;
            padding-bottom: 24px;
            padding-top: 23px;
            align-items: center;

            &.section_title_full_width {
                .related_terms {
                    margin: auto;
                    justify-content: center;
                    padding-top: 15px;
                }
            }
        }
        .section__title {
            margin-bottom: 0;
        }

        .mag_basic_article {
            padding-bottom: 35px;

            .post__category {
                bottom: 25px;
            }

            .post__content::before {
                display: none;
            }
        }
    }
}

@media screen and (min-width: $min-n) {
    .magazine_tribute {
        margin-bottom: 70px;
        .related_terms {
            img {
                min-width: 230px;
            }
        }

        .group_header {
            padding-left: 30px;
            // padding-right: 30px;
            padding-bottom: 33px;
            padding-top: 35px;
        }

        .mag_basic_article {
            padding-bottom: 35px;
        }
    }
}

@media screen and (min-width: $min-xl) {
    .magazine_tribute {
        margin-bottom: 100px;
        .related_terms {
            img {
                min-width: 277px;
            }
        }

        .group_header {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 45px;
            padding-top: 45px;
        }

        .mag_basic_article {
            padding-bottom: 50px;

            .post__content {
                padding-bottom: 35px;
            }

            .post__category {
                bottom: 50px;
            }
        }
    }
}
