//----------------------------------------------------------------------
/* KEEN
----------------------------------------------------------------------*/
.carusel_container.loading {
    position: relative;
}

.carusel_container.loading:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.keen-slider {
    display: flex;
    overflow: hidden;
    position: relative;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.keen-slider__slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.keen-slider[data-keen-slider-v] {
    flex-wrap: wrap;
}

.keen-slider[data-keen-slider-v] .keen-slider__slide {
    width: 100%;
}

.keen-slider[data-keen-slider-moves] * {
    pointer-events: none;
}

.dots {
    margin: 0;
    padding: 0;
}

.dots > .dot {
    list-style-type: none;
    display: inline-block;
    margin-right: 2px;
}

.dots > .dot:last-of-type {
    margin-right: 0;
}

.dot > button {
    background: none;
    background-color: #000;
    padding: 8px;
    border-radius: 50%;
}

.arrows_container .arrow {
    margin: 14px 0;
}

.arrows_container .arrow:before {
    content: "Prev";
    border: 1px solid;
}

.arrows_container .arrow__right:before {
    content: "Next";
    border: 1px solid;
}