html,
body {
  font-size: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  color: $base_font_color;
  position: relative;
  cursor: auto;
  height: auto;
  &.stay_fixed {
    overflow: hidden;
  }
}

.global_wrapper {
  background-color: $white;
}

/* HTML5 Elements 
----------------------------------------------------------------------*/
img,
object,
embed,
svg,
iframe {
  max-width: 100%;
  border: 0;
}

embed {
  height: 100%;
}

img,
svg {
  @extend .inline-block;
  height: auto;
}

object,
embed,
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* LINKS 
----------------------------------------------------------------------*/
a,
a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/* BUTTONS 
----------------------------------------------------------------------*/
@mixin button_styles {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  overflow: visible;
  @include appearance(textearea);
  @include transition(background-color 300ms ease-out);
  // display: inline-block;
  // margin-left: auto;
  // margin-right: auto;
  position: relative;

  text-align: center;
  font-style: normal;
}

button,
.button {
  @include button_styles;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }

  &.disabled,
  &[disabled] {
    cursor: default;
    box-shadow: none;
  }
}

/* Lists
----------------------------------------------------------------------*/
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.basic_content ul,
.basic_content ol {
  margin: 5px 0 10px;
}

ul.no-bullet,
ol.no-bullet {
  list-style: none;
}

ul.square,
ol.square {
  list-style-type: square;
}

ul.circle,
ol.circle {
  list-style-type: circle;
}

ul.disc,
ol.disc {
  list-style-type: disc;
}

ul.inline-block li,
ul.inline li,
ol.inline-block li,
ol.inline li {
  display: inline;
  vertical-align: middle;
  list-style: none;
}

ul.inline-block li,
ol.inline-block li {
  display: inline-block;
}

.content ul,
.content ol {
  list-style-position: outside;
  margin-left: 18px;

  li {
    padding-left: 5px;
    margin-bottom: 12px;
  }
}

/*  Tables
----------------------------------------------------------------------*/
table:not(.calendar) {
  thead th,
  tbody td {
    padding: 20px 14px;

    &:last-child {
      padding-right: 35px;
    }

    &:first-child {
      padding-left: 35px;
    }
  }

  // th {
  //   text-align: center;
  // }
}

thead {
  tr,
  th {
    background-color: transparent;
  }

  th {
    font-size: em(15);
    line-height: em(17, 15);
    font-family: $base_font;
  }
}

tbody {
  td {
    background-color: transparent !important;
    font-size: em(19);
    line-height: em(22, 19);
    font-family: $base_font;
  }

  // tr {
  //   background-color: $off_white;
  // }

  // tr:nth-child(2n+1) {
  //   background-color: $light_grey;
  // }
}

/*  Forms
----------------------------------------------------------------------*/
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  -ms-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
  font-weight: inherit;
  max-width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $black;
  opacity: 1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $black;
  opacity: 1;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $black;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $black;
  opacity: 1;
}

/* TABLES 
----------------------------------------------------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------------------------------------------------
    SECTION: UTILITY CLASSES 
---------------------------------------------------------------------------------------------------- */
/*  Display property 
----------------------------------------------------------------------*/
.block {
  display: block;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.inline {
  display: inline;
}

.hidden {
  display: none !important;
}

.invisible,
.screen-reader-text {
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  color: transparent;
}

/* Floating elements 
----------------------------------------------------------------------*/
.left {
  float: left;
}

.right {
  float: right !important;
}

.none {
  float: none;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
  clear: both;
}

/*Scrollbars
----------------------------------------------------------------------*/
// ::-webkit-scrollbar { width: 9px; }
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  -webkit-border-radius: 0;
  background: $black;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: $black;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba($black, 0.8);
}

/*Containers
----------------------------------------------------------------------*/

@media screen and (max-width: em(1680)) {
  table:not(.calendar) {
    thead th,
    tbody td {
      padding: 17px 12px;

      &:last-child {
        padding-right: 30px;
      }

      &:first-child {
        padding-left: 30px;
      }
    }
  }

  thead {
    th {
      font-size: em(14);
    }
  }

  tbody {
    td {
      font-size: em(17);
      line-height: em(21, 17);
    }
  }
}

@media screen and (max-width: em(1450)) {
  table:not(.calendar)  {
    thead th,
    tbody td {
      // padding: 17px 12px;

      &:last-child {
        padding-right: 18px;
      }

      &:first-child {
        padding-left: 18px;
      }
    }
  }

  thead {
    th {
      font-size: em(12);
    }
  }

  tbody {
    td {
      font-size: em(15);
      line-height: em(18, 15);
    }
  }
}

.red {
  color: $red;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-abs-center {
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  visibility: hidden;
  opacity: 0;
}

.global_wrapper {
  width: 100%;
  // max-width: 120em;
  margin: auto;
  background-color: #fff;
}

.wrapper {
  padding: 0 10px;
}

.home_wrapper {
  padding: 0 20px;
}

.magazine_section_margins,
.embed_code_section {
  margin-bottom: 50px;
}

.ads_element {
  // position: sticky;
  // top: 30px;
  .dfp_wrap {
    min-width: 300px;
    min-height: 300px;
    background-color: #dddddd;
  }
}

.single_article__aside .ads_element {
  position: sticky;
  top: 30px;
}

.invisible {
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: $min-xs) {
  .home_wrapper {
    padding: 0;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }

  .magazine_section_margins,
  .embed_code_section {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: $min-x) {
  .home_wrapper {
    max-width: 980px;
  }
}

@media screen and (min-width: $min-n) {
  .magazine_section_margins,
  .embed_code_section {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: $min-m) {
  .home_wrapper {
    max-width: 1320px;
  }
}

@media screen and (min-width: $min-xl) {
  .magazine_section_margins,
  .embed_code_section {
    margin-bottom: 100px;
  }
}