
@import "functions/px-to-em";

@import "styleguides/variables";

@import "styleguides/typography";
@import "styleguides/fonts";



// $light: 300;
// $regular: 400;
// $bold: 700;

// $asty_book: "AstyCFStdBook", sans-serif;
// $asty_medium: "AstyCFStdMedium", sans-serif;
// $asty_bold: "AstyCFStdBold", sans-serif;
// $asty_black: "AstyCFStdBlack", sans-serif;
// $din_normal: "PFDINSerif-Reg", sans-serif;
// $din_black: "PFDINSerif-Black", sans-serif;
// $base_font: $asty_book;

// $min-xxl: em(1921);
// $min-xl: em(1701);
// $min-l: em(1401);
// $min-m: em(1350);
// $min-n: em(1101);
// $min-x: em(1024);
// $min-xs: em(768);


// $max-xxl: em(1920);
// $max-xl: em(1700);
// $max-l: em(1400);
// $max-m: em(1349);
// $max-n: em(1100);
// $max-x: em(1023);
// $max-xs: em(767);




/* CONTRA STYLES - DO NOT REWRITE */
.global_header .primary_nav .menu li a {
    color: inherit;
    text-decoration: none;
}

// .global_header__logo {
//     margin-bottom: 4px;
// }

.taboola_posts_container {
    div#taboola-alternating-below-article-redesign-mobile {
        margin-bottom: unset!important;
    }
}

.newspapares__wrapper .category__header {
    margin-bottom: 40px;
}

.side_nav_container__inner .menu {
    padding-left: 0;
}

.newspapares__wrapper .section__title a {
    text-decoration: none;
}

.page-template-protoselida .ros_prestitial {
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: absolute;
}

.page-template-protoselida .ros_prestitial:before {
    display: none;
}

.calendarcolumn{
    .calendarsmalltext {
        border-left: 0!important;
    }
    .dropdown-menu.show {
        margin-top: -3px!important;
    }
}

.calendar_buttons,
.calendarsmalltext,
.customdropdownbutton,
.dropdown-item,
.newspaper_name,
.calendarlist li {
    font-family: $base_font;
    font-size: 12px;
}

#monthslist {
    overflow-y: auto;
    // height: 366px;
}

.dropdown-item {
  padding: 12px 15px;
}

// .dropdown-menu > .container-fluid {
//      height: 366px;
// }


.calendarlist {
    padding: 10px 20px;

    li {
        padding: 7px 0;
        font-family: $asty_bold;
        // text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: #f8f9fa;
        }
    }
}

.group_title {
	font-family: $asty_bold;
	font-size: 16px;
}

.newspaper_name {
	font-size: 14px;
	margin-bottom: 10px;

    a {
        text-decoration: none;
        cursor: pointer;
    }
}

.fa-regular, .far {
	font-size: 18px;
}

.calendarddbutton, 
table.calendar td, 
table.calendar th {
    font-family: $asty_bold;
    font-size: 12px;
}

.calendarddbutton {
    line-height: 33px;
}

.calendartoday::after {
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
}

.newspapares__main_col {
    .zoomnavright {
        width: 100%;
        display: none;
    }

    .simplebutton:first-of-type .icon_arrow {
       transform: rotate(180deg);
    }

    .imageThumb {
        cursor: pointer;
    }
}

.newspapares__main_col {
    .simplebutton .icon_arrow {
        max-height: 20px;
    }
}

.page-template-protoselida {
    .global_footer  {
        margin-top: 100px;
    }
}

.calendararrow, 
.dropdown-menu {
    .icon_arrow {
        width: 15px;
        height: 15px;
    }

    &.next {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.simplebutton {
    color: $black;
    display:flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 9px;
        height: 15px;
        &.icon_left {
            transform: rotate(180deg);
        }
    }
    &.fadisabled {
        color: rgba($black, 0.3);  
    }
    &.centeredsemitransparentbutton {
        color:$red;
    }
}

.zoomnavright {
    .simplebutton {
        color:$red;
    }
}

.customdropdownbutton {
    +.icon_down {
        z-index: 0;
    }
    &.show {
        +.icon_down {
            transform: translate(-50%, -50%) rotate(271deg);
        }
    }
}

.icon_down {
        position: absolute; 
        right: 20px; 
        top: 50%;
        width: 9px;
        height: 15px;
        transform: translate(-50%, -50%) rotate(90deg);
        z-index: -1;
}

#closemonthsbutton,#closeyearsbutton {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 3;
    width: 16px;
    height: 16px;
    padding: 0;
    svg {
        width: 100%;
        height: 100%;
    }
}



.dropdown-menu {
    .icon_arrow {
        position: absolute;
        right: 10px;
        top: 15px;
        width: 12px;
        height:12px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
        z-index: -1;
    }
}

.icon_calendar {
    width: 26px;
    height: 23px;
}

.categorieslistpadding {
    margin-top: 0;

    .icon_arrow{
        position: absolute;
        right: 17px !important;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 15px;
        width: 15px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    i {
        right: 17px !important;
    }

    // .customdropdownbutton {
        //     background-image: url(../img/icons/icon-dropdown-arrow.svg);
        //     background-repeat: no-repeat;
        //     background-position: right center;
        //     background-size: 20px auto;
    // }
}

// .calendarcolumn .calendar  tbody  tr  td {
//     padding: 7px;
// }

.calendarselected.calendartoday {
    border-color: $red;
}

table.calendar th:last-child {
    background-color: transparent;
}



.categorieslistpadding ul.dropdown-menu {
    margin-top: -3px !important;
}



#calendar {
   svg {
    width: 100%;
    height: 27px;
    &:last-child {
        display: none;
        height: 19px;
    }
   }


    &[aria-expanded="true"] {
        svg {
            &:first-child {
                display: none;
            }
            &:last-child {
                display: block;
            }
        }
    }
}

.calendarcolumn {
    margin-bottom: -1px;
}


.customdropdownbutton {
    background-image: url(../img/icons/icon-dropdown-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px auto;
}





@media screen and (max-width: $max-x) {
    .group_title {
        padding-bottom: 10px;
        display: block;
    }

    .leftzoomdate {
        display: none;
    }

    

    .calendarcolumn {
        margin-bottom: -1px;
    }

    .calendar_buttons, 
    .calendarsmalltext, 
    .customdropdownbutton, 
    .dropdown-item, 
    .newspaper_name, 
    .calendarlist li {
        font-size: 14px;
    }
}


@media screen and (max-width: $max-xs) {
   .calendarcolumn {
        .dropdown-menu {
            font-family: $asty_bold;
            width: calc(100vw - 40px);
        }
    } 

    .calendarcolumn {
        margin-bottom: -1px;
    }
}

@media screen and (min-width: $min-x) {
    .newspapares__main_wrapper {
        max-width: 980px;
        margin-right: auto;
        margin-left: auto;
    }


    .newspapares__main_wrapper #main {
        justify-content: space-between;
    }

    .newspapares__main_col {
        max-width: 680px;
        width: 680px;
        padding-right: 40px;
        .simplebutton .icon_arrow {
            max-height: 15px;
        }
    }

    .centeredsemitransparentbutton {
        display: none;
    }

    .newspapares__sidebar_col#advcol {
        width: 300px;
        padding: 0;
    }

    .newspapares__sidebar_col .sidebar_column, 
    .newspapares__sidebar_col .sidebar_column .ads_element {
        height: 100%;
    }

    .newspapares__sidebar_col .ads_element .dfp-wrap {
        background-color: #f2f2f2;
        min-height: 250px;
    }

    .newspapares__main_col .zoomnavright {
        display: flex;
        justify-content: flex-end;
    }

    .leftzoomdate {
        display: block;
    }

    .topzoomdate {
        display: none;
    }

    .zoomnavright {
        button {
            &:last-child {
                margin-right: -12px;
            }
        }
    }

    .calendar_buttons,
    .calendarsmalltext,
    .customdropdownbutton,
    .dropdown-item,
    .newspaper_name {
        font-size: 14px;
    }

    .newspaper_name {
        font-size: 14px;
    }

    .fa-regular, .far {
        font-size: 20px;
    }

}


@media screen and (min-width: $min-n) {
    
    .group_title {
        font-size: 22px;
    }
}



@media screen and (min-width: $min-m) {
    .newspapares__main_wrapper {
        max-width: 1320px;
    }

    .newspapares__main_col {
        max-width: 10200px;
        width: 1020px;
/*        padding-right: 40px;*/
    }

/*    .newspapares__sidebar_col#advcol {
        width: 300px;
        padding: 0;
    }*/

}





