.page-template-single-embed_code {
  .category__wrapper {
    .home_wrapper {
      &:first-of-type {
        > section {
          margin-top: 56px;
        }
      }
    }
  }
}

.page-template-single-embed_code_full_width,
.page-template-single-embed_code,
.post-template-single-embed_code,
.post-template-single-embed_code_full_width,
.post-template-single-magazine_embed_code,
.post-template-single-magazine_embed_code_full_width {
  .page__title {
    padding: 40px 0;
    text-align: center;
    margin-bottom: 0;
  }
}

.page-template-single-embed_code_full_width {
  #gamesnacks {
    height: 11800px !important;
  }
}

@media screen and (min-width: $min-xs) {
  .page-template-single-embed_code {
    .category__wrapper {
      .home_wrapper {
        &:first-of-type {
          > section {
            margin-top: 90px;
          }
        }
      }
    }
  }

  .page-template-single-embed_code_full_width {
    #gamesnacks {
      height: 10100px !important;
    }
  }
}

@media screen and (min-width: $min-x) {
  .page-template-single-embed_code_full_width {
    #gamesnacks {
      height: 7800px !important;
    }
  }
}

@media screen and (min-width: $min-n) {
  .page-template-single-embed_code_full_width {
    #gamesnacks {
      height: 6400px !important;
    }
  }
}

@media screen and (min-width: $min-m) {
  .page-template-single-embed_code_full_width {
    #gamesnacks {
      height: 6600px !important;
    }
  }
}

@media screen and (min-width: $min-xl) {
  .page-template-single-embed_code_full_width {
    #gamesnacks {
      height: 5900px !important;
    }
  }
}
