.with_mobile_title {
    .mobile_title {
        display: inline;
    }

    .desktop_title {
        display: none;
    }
}

.home_wrapper > .margin__top_bottom--20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.happening_now__wrapper + .home_wrapper .embed_code  {
    margin-top: 17px;
    margin-bottom: 30px;
}



.home_wrapper > section,
.home_wrapper.articles_grid {
	margin-bottom: 56px;
}

@media screen and (max-width: $max-xs) {
    .home_wrapper > .margin__top_bottom--20 {
        margin-left: -20px;
        margin-right: -20px;
    }
}


@media screen and (min-width: $min-xs) {
    .home_wrapper > section,
    .home_wrapper.articles_grid {
        margin-bottom: 90px;
    }

    .with_mobile_title {
        .mobile_title {
            display: none;
        }

        .desktop_title {
            display: inline;
        }
    }

    .happening_now__wrapper + .home_wrapper .embed_code  {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}


@media screen and (min-width: $min-x) {
    .embed_code__wrapper + .happening_now__wrapper .happening_now_section {
        border-top: 1px solid $black; 
    } 
    .happening_now__wrapper + .home_wrapper .embed_code  {
        margin-top: 0px;
        margin-bottom: 35px;
    }
}
