// ------------------------------------------------------------------------------
// SECTION: VARIABLES
// -----------------------------------------------------------------------------*/

/* MEDIA
---------------------------------------------------------------------------------------------------*/

$min-xxl: em(1921);
$min-xl: em(1701);
$min-l: em(1401);
$min-m: em(1350);
$min-n: em(1101);
$min-x: em(1024);
$min-xs: em(768);


$max-xxl: em(1920);
$max-xl: em(1700);
$max-l: em(1400);
$max-m: em(1349);
$max-n: em(1100);
$max-x: em(1023);
$max-xs: em(767);


/* GRID
---------------------------------------------------------------------------------------------------*/
$gutter: 60px;
$mobile_gutter: 20px;

// Coloring
// ----------------------------------------------------------------------*/

$black: #000000;
$off_black: #081e31;
$white: #ffffff;
$grey: #888888;
$light_grey: #dddddd;
$blue: #054260;
$red: #E6142C;
$light_red: #ff0040;
$dark_red: #C11A2B;
$liveblog-key-events_red: #D31229;
$beige: #e7e1e2;
$border_grey: #dddddd;
$credits_grey : #757575;

$liveblog_grey: #EDEDED;

$base_font_color: $black;

$bg_lime: #dcf0ec;
$bg_light_blue: #e0edf2;
$bg_off_black: #282828;
$bg_light_yellow: #fff0e0;

$article_bg: #1c2633;
$video_dark: #111111;
$ad_bg: #f2f2f2;

$accordion_light_green: #dcf0ec;
$accordion_light_grey: #e7e1e2;
$accordion_light_yellow: #fff0e0;

// $asty_book: $black;
// $asty_medium: $black;
// $asty_bold: $black;
// $asty_black: $black;
// $din_normal: $black;
// $din_black: $black;

// $color_palettes:
//   ('black',$black),
//   ('white',$white),
//   ('off_white',$off_white),
//   ('light_grey',$light_grey),
//   ('grey',$grey),
//   ('petrol',$petrol),
//   ('purple',$purple),
//   ('dark_purple',$dark_purple);

// @each $color_palette in $color_palettes {
//   $id: nth($color_palette, 1);
//   $color: nth($color_palette, 2);

//   .bg_#{$id} {
//     background-color: $color;
//   }
// }

// $fonts:
//   ('normal',$normal),
//   ('bold',$bold),
//   ('extra_bold',$extra_bold);

// @each $font in $fonts {
//   $id: nth($font, 1);
//   $font-family: nth($font, 2);

//   .#{$id} {
//    font-family:$font-family;
//    font-size: 25px;
//    line-height: 35px;
//   }
// }

// ------------------------------------------------------------------------------
// SECTION: MIXINS
// -----------------------------------------------------------------------------*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  -ms-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin blur($blur) {
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

@mixin backdrop-filter($filter) {
  -webkit-backdrop-filter: $filter;
  backdrop-filter: $filter;
}
