// Footer

.global_footer {
  position: relative;
  background-color: $black;
  padding-bottom: 130px;
  z-index: 1;
  .wrapper {
    padding: 40px $mobile_gutter 0;
  }
  &__col {
    margin-top: 17px;
    padding-bottom: 17px;
    position: relative;
    &_section {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h3 {
      font-size: em(15);
      line-height: em(17, 15);
      font-weight: $bold;
      color: $white;
      font-family: $asty_bold;
      margin: unset;
    }
    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      border-bottom: 1px solid rgba(221, 221, 221, 0.2);
    }
    &:first-child {
      margin-top: unset;
    }
    &:nth-child(4) {
      padding: unset;
      margin-bottom: $gutter;
      .footer_nav {
        padding-bottom: unset;
      }
    }
    &:last-child {
      padding: unset;
      margin: 0 0 80px;
    }
    .menu-item__toggle-children {
      transform: rotate(90deg);
      display: inline-flex;
      svg {
        width: 12px;
        height: 12px;
        fill: $grey;
      }
    }
    &.open-sub-menu {
      .menu-item__toggle-children {
        transform: rotate(270deg);
      }
      .footer_nav {
        display: block;
      }
    }
  }
  .footer_nav_container {
    display: flex;
    .footer_nav {
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        width: 80%;
      }
    }
  }
  .footer_nav {
    padding-bottom: 14px;
    display: none;
    .menu {
      margin: unset;
      padding: unset;
      &-item {
        display: block;
        margin-top: $mobile_gutter;
        a {
          font-size: em(13);
          line-height: em(15, 13);
          font-family: $asty_book;
          color: $white;
        }
      }
    }
    &.follow_us {
      .follow_us__link {
        a {
          display: flex;
          align-items: center;
          svg {
            width: 18px;
            height: 18px;
            fill: $white;
            margin-right: 12px;
          }
          span {
            font: unset;
          }
        }
      }
    }
  }
  // #mc_embed_signup {
  //   margin-top: 23px;
  //   #mce-EMAIL,
  //   #mc-embedded-subscribe {
  //     width: 100%;
  //     height: $gutter;
  //     padding: 0;
  //     border: 0;
  //   }
  //   #mce-EMAIL {
  //     font-size: em(15);
  //     font-family: $asty_book;
  //     line-height: em(17, 15);
  //     margin-bottom: 10px;
  //     color: $grey;
  //     text-indent: 20px;
  //     &:focus-visible {
  //       outline: none;
  //     }
  //     &::placeholder {
  //       color: $grey;
  //     }
  //   }
  //   #mc-embedded-subscribe {
  //     font-size: em(14);
  //     font-family: $asty_bold;
  //     line-height: em(18, 14);
  //     color: $white;
  //     border: 1px solid $white;
  //     margin-bottom: 30px;
  //   }
  //   .content__gdpr {
  //     .mc_fieldset {
  //       border: 0;
  //       padding: 0;
  //       .checkbox.subfield {
  //         display: flex;
  //         align-items: center;
  //         input {
  //           position: absolute;
  //           opacity: 0;
  //           width: 20px;
  //           height: 20px;
  //           &:checked {
  //             + label {
  //               svg {
  //                 display: block;
  //               }
  //             }
  //           }
  //         }
  //         label {
  //           display: flex;
  //           align-items: center;
  //           justify-content: center;
  //           background-color: $white;
  //           width: 20px;
  //           height: 20px;
  //           margin-right: 10px;
  //           svg {
  //             display: none;
  //             fill: $red;
  //             width: 14px;
  //             height: 14px;
  //           }
  //         }
  //         span {
  //           font-size: em(10);
  //           font-family: $asty_book;
  //           font-weight: $regular;
  //           line-height: em(13, 10);
  //           width: 200px;
  //           color: $white;
  //         }
  //       }
  //       .mce_inline_error {
  //         margin-top: 4px !important;
  //       }
  //     }
  //   }
  // }

  .newsletter_subscribe_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $gutter;
    font-size: em(14);
    font-family: $asty_bold;
    line-height: em(18, 14);
    color: $white;
    border: 1px solid $white;
    margin-top: 23px;
    &:hover {
      background-color: $red;
      border-color: $red !important;
    }
  }
  .owner {
    display: flex;
    justify-content: space-between;
    margin: 0 $mobile_gutter;
    position: relative;
    &-info {
      display: flex;
      flex-direction: column;
      margin-bottom: 18px;
      .copyrights {
        margin-top: 15px;
        p {
          font-size: em(10);
          line-height: em(14, 10);
          font-family: $asty_book;
          color: $white;
          margin: unset;
          span {
            &:first-of-type {
              display: block;
            }
          }
        }
        .ened_logo {
          width: 59px;
          height: 14px;
        }
      }
    }
    .scroll-to-top-container {
      display: flex;
      align-items: center;
      align-self: flex-end;
      span {
        font-size: em(13);
        line-height: em(15, 13);
        font-family: $asty_book;
        color: $white;
        margin-right: 10px;
      }
      .scroll-to-top--btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: $white;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
} // End of footer
