/* 

Animation has been removed and it has been added visibility hidden 
to container but when it is active visibility is set to visible

*/

.side_nav_container {
  width: 100%;
  position: fixed;
  top: 51px;
  bottom: 0;
  background-color: $white;
  overflow-y: unset;
  padding: 30px $mobile_gutter 0;
  z-index: 2147483647;
  visibility: hidden;
  .close_side_menu {
    display: none;
  }

  .menu {
    margin: 0;
    .menu-item {
      display: block;
      a {
        font-size: em(18);
        line-height: 1em;
        font-family: $asty_bold;
        font-weight: $bold;
        letter-spacing: 0px;
        color: $black;
        text-decoration: underline 1px transparent;
        transition: text-decoration-color 300ms;
        text-underline-offset: 3px;
        &:hover {
          text-decoration-color: $black;
        }
      }
      .sub-menu {
        display: none;
        padding: 28px 0 16px;
        li {
          margin-bottom: 24px;
          a {
            font-weight: $regular;
            font-family: $asty_book;
            font-size: 1em;
            line-height: 1em;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        &.side-nav-social-container {
          display: block;
          padding-bottom: unset;
          a {
            display: flex;
            align-items: center;
            svg {
              width: 18px;
              height: 18px;
              margin-right: 10px;
            }
          }
        }
      }
      .menu-item__toggle-children {
        display: none;
      }
      &.menu-item-has-children {
        > .menu-item__toggle-children {
          display: inline-flex;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0px;
          transform: rotate(90deg);
          align-items: center;
          cursor: pointer;
          svg {
            width: 12px;
            height: 12px;
            fill: #bbbbbb;
          }
        }
      }
      &.open-sub-menu {
        .sub-menu {
          display: block;
        }
        .menu-item__toggle-children {
          transform: rotate(270deg);
          top: unset;
          bottom: unset;
        }
      }
      &.follow_us {
        border-bottom: 0;
        padding-bottom: unset;
        > span {
          font-size: em(18);
          line-height: 1em;
          font-family: $asty_bold;
        }
      }
    }
    & > li {
      padding: 16px 0;
      position: relative;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &.active {
    visibility: visible;
  }
  &__inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    & > nav {
      border-bottom: 1px solid $light_grey;
      margin-bottom: 28px;
      padding-bottom: 28px;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .search_form {
    margin-bottom: 50px;
    position: relative;
    input {
      width: 100%;
      height: 50px;
      border-color: #cccccc;
      padding-left: $mobile_gutter;
      &::placeholder {
        color: $grey;
      }
      &:focus-visible {
        outline: none;
      }
      &:focus {
        + .search_form_btn__container .submit--btn svg {
          fill: $black;
        }
        color: $black;
      }
    }
    &_btn__container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $white;
      display: flex;
      border: 1px solid #cccccc;
      border-left: 0;
      padding-right: 10px;
      .submit--btn {
        svg {
          width: 26px;
          height: 26px;
          fill: $grey;
        }
      }
      .clear--btn {
        display: none;
        padding-right: 24px;
        svg {
          width: 22px;
          height: 22px;
        }
        &:before {
          content: "";
          width: 1px;
          height: 28px;
          position: absolute;
          right: calc(100% - 36px);
          background-color: #cccccc;
          top: 11px;
        }
      }
    }
    &.amp-form-dirty {
      .search_form_btn__container {
        .clear--btn {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: $max-x) {
  .side_nav_container__inner > nav:last-child {
    padding-bottom: 180px;
  }
}
