@import "../functions/px-to-em";
@import "../styleguides/variables";
@import "typography";
@import "../styleguides/fonts";
@import "../normalize";
@import "../generic";
@import "../grid";
@import "../components/modules/article_imgs";
@import "../components/modules/modules";
@import "../components/modules/basic_article";
@import "../components/modules/overlay_article";
@import "../components/modules/big_story";
@import "../components/modules/basic_article_small";
@import "../components/modules/sketch";
@import "../components/modules/opinion";
@import "../components/modules/large_article";
@import "../components/modules/yop_polls";

//Template parts
@import "../templates/template-parts/post/blockquote";
@import "../templates/template-parts/post/inline_images";
@import "../templates/template-parts/post/read_also";
@import "../templates/template-parts/post/read_also__opinion";
@import "../templates/template-parts/post/embed_codes";

// AMP imports

@import "general";
@import "header";
@import "sideMenu";
@import "menuRoi";
@import "footer";
@import "single";
@import "single-skitsa";
@import "single-video";
@import "ads";
@import "consent";




// CUSTOM

.paragraph em, 
.paragraph i {
	font-style: italic !important;
}

.single_post__audio_player_code {
	position: fixed;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	z-index: 2147483647;
  	background-color: #282828;
  	padding-right: 15px;
  	padding-left: 15px;
  	border-radius: 0;
}



.imp_url {
	width: 1px;
	height: 1px;
	position: absolute;
}
