@mixin font-10 {
  font-size: em(10);
  line-height: em(10, 10);
}

@mixin font-11 {
  font-size: em(11);
  line-height: em(10, 11);
}

@mixin font-14 {
  font-size: em(14);
  line-height: em(15, 14);
}

@mixin font-17 {
  font-size: em(17);
  line-height: em(27, 17);
}

@mixin font-18 {
  font-size: em(18);
  line-height: em(16, 18);
}

@mixin font-18-22 {
  font-size: em(18);
  line-height: em(22, 18);
}

@mixin font-19 {
  font-size: em(19);
  line-height: em(22, 19);
}

@mixin font-21 {
  font-size: em(21);
  line-height: em(26, 21);
}

@mixin font-22 {
  font-size: em(22);
  line-height: em(27, 22);
}

@mixin font-26 {
  font-size: em(26);
  line-height: em(31, 26);
}

@mixin font-30 {
  font-size: em(30);
  line-height: em(34, 30);
}

@mixin font-40 {
  font-size: em(40);
  line-height: em(35, 40);
}

@mixin font-46 {
  font-size: em(46);
  line-height: em(60, 46);
}

@mixin font-68 {
  font-size: em(68);
  line-height: em(60, 68);
}
